<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">{{'--.changePasswordModal.title' | translateText}}</h4>
</div>
<div class="modal-body form" >

        <dir-field-text ng-info="fields.oldPassword"></dir-field-text>

        <dir-field-text ng-info="fields.newPassword"></dir-field-text>

        <dir-field-text ng-info="fields.repeatPassword"></dir-field-text>
</div>
<div class="modal-footer">
    <button ng-disabled="loading"
            type="button"
            id="change-password-btn-save"
            class="btn gling-button-dark"
            ng-click="save()">
        {{'--.generic.save' | translateText}}
    </button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading"/>
</div>