<div>
    <table class="category-line-tree">
        <tr ng-repeat="(catLev1Key,lev2) in getInfo().categories">
            <td>
                <a ng-click="searchCat(catLev1Key)"> {{catLev1Key | translateText}} </a> <span
                    class="transition">>></span>
            </td>
            <td>
                <table>
                    <tr ng-repeat="(catLev2Key, lev3) in lev2">
                        <td>
                            <a ng-click="searchCat(catLev2Key)"> {{catLev2Key | translateText}}</a> <span
                                class="transition">>></span>
                        </td>
                        <td>
                        <span ng-repeat="catLev3 in lev3">
                            <span class="transition" ng-show="$index>0">/</span>
                            <a ng-click="searchCat(catLev3.translationName)">
                                {{catLev3.translationName | translateText}} </a>
                        </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>