@(publication: be.lynk.server.dto.AbstractPublicationDTO)

@import com.fasterxml.jackson.databind.ObjectMapper

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("site.name")</title>
        <meta charset="utf-8"/>

            <!-- facebook meta -->
        <meta property="og:url" content="http://lynk-test.herokuapp.com/redirect/business/@(publication.getBusinessId)/publication/@(publication.getId)" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@(publication.getTitle) - @(publication.getBusinessName)" />
        @if(publication.getDescription != null) {
            <meta property="og:description" content="@(publication.getDescription)" />
        }
        @if(publication.getPictures.size() > 0) {
            <meta property="og:image" content="https://s3.amazonaws.com/lynk-test/@(publication.getPictures.get(0).getStoredName)" />
        }
        else(publication.getBusinessIllustration != null) {
            <meta property="og:image" content="https://s3.amazonaws.com/lynk-test/@(publication.getBusinessIllustration.getStoredName)" />
        }


    </head>
    <body>
    </body>
</html>