@(languages: be.lynk.server.dto.ListDTO[be.lynk.server.dto.LangDTO], data: be.lynk.server.dto.InterfaceDataDTO)

@import com.fasterxml.jackson.databind.ObjectMapper

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("site.name")</title>
        <meta charset="utf-8"/>
        <link rel="canonical" href="http://projectpoc.herokuapp.com" >
            <!-- change scale for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=0.6">

        @header.dependencies_header()

            <!-- components -->
        <script src="@routes.Assets.at("components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/mobile-angular-ui/dist/js/mobile-angular-ui.core.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/mobile-angular-ui/dist/js/mobile-angular-ui.components.min.js")" type="text/javascript"></script>


            <!-- routes -->
        <script src="@routes.Assets.at("javascripts/routes/mobile-routes.js")" type="text/javascript"></script>

            <!-- init -->
        <script src="@routes.Assets.at("javascripts/InitMobile.js")" type="text/javascript"></script>

            <!-- common angularsj elements -->
        @header.header()

            <!-- controllers -->
        <script src="@routes.Assets.at("javascripts/controller/mobile/WelcomeCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller/mobile/HomeCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller/mobile/ForgotPasswordCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller/mobile/CustomerRegistrationCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller/mobile/BusinessRegistrationCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller/mobile/MenuCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller/mobile/ProfileCtrl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller/mobile/BusinessCtrl.js")" type="text/javascript"></script>

            <!-- component -->
        <script src="@routes.Assets.at("javascripts/directive/component/publicationListMobile/PublicationListMobileCtrl.js")" type="text/javascript"></script>

            <!-- directive -->
        <script src="@routes.Assets.at("javascripts/directive/mobile/title/MobileTitleCtrl.js")" type="text/javascript"></script>

            <!-- css -->
            <!-- main -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobile.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css")">

    </head>
    <body ng-app="app" ng-controller="MainCtrl">

            <!-- load data -->
        <script>
        var data = @Html(new ObjectMapper().writeValueAsString(data));
        var languages = @Html(new ObjectMapper().writeValueAsString(languages.getList));
        var lang = "@ctx().lang().code";
        </script>

            <!-- Sidebars -->
        <div class="sidebar sidebar-left" ui-turn-off='uiSidebarLeft' ng-controller="MenuCtrl">
            <div class="scrollable">
                <h1 class="scrollable-header app-name">{{'--.site.name' | translateText}}</h1>
                <div class="scrollable-content">
                    <div class="list-group" ui-turn-off='uiSidebarLeft'>

                        <div class="list-group-item generic-pointer" ng-click="navigateTo('/home')">
                            <span class="glyphicon glyphicon-home"></span>
                            {{'--.generic.home' | translateText}}
                        </div>
                        <div class="list-group-item generic-pointer" ng-click="navigateTo('/profile')">
                            <span class="glyphicon glyphicon-user"></span>
                            {{'--.welcome.myProfile' | translateText}}
                        </div>
                        <div class="list-group-item generic-pointer" ng-click="logout()">
                            <span class="glyphicon glyphicon-off" ></span>
                            {{'--.generic.logout' | translateText}}
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="app">

                <!-- App body -->
            <div ng-view style="height : 100%"></div>


        </div>

            <!-- Modals and Overlays -->
        <div ui-yield-to="modals"></div>


    </body>
</html>