@(translations: be.lynk.server.dto.TranslationsDTO)
@import com.fasterxml.jackson.databind.ObjectMapper
@import play.Play

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("--.site.name")</title>
        <meta charset="utf-8"/>

        <script src="@routes.Assets.at("dist/town.min.js")" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("dist/town.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/town.css")">


    </head>
    <body ng-app="app" ng-controller="TownMainCtrl" style="width : 734px ; margin : auto">

        <script>
        var translations =@Html(new ObjectMapper().writeValueAsString(translations));
        </script>


        <town-business-ctrl></town-business-ctrl>


    </body>
</html>