@(languages: be.lynk.server.dto.ListDTO[be.lynk.server.dto.LangDTO])

@import com.fasterxml.jackson.databind.ObjectMapper

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("--.site.name")</title>
        <meta charset="utf-8"/>
        <base href="/">


        <meta http-equiv="content-language" content="fr">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="Suivez l’actualité de  vos commerces favoris ! Restaurants, boutiques, théâtres, magasins de décoration,… Gling rassemble tous les types d’établissements pour répondre à l’ensemble de vos envies.">
        <meta name="keywords" content="Magasin Commerce Commerçant Consommateur Client Local Proximité Promotion Réduction Actualité Nouveauté Evénement Coordonnées Contact Heures ouverture Téléphone E-mail Adresse Communication Application Géolocalisation Gling Shop Deal">
        <meta name="robots" content="index,follow">
        <meta name="revisit-after" content="15days">
        <meta name="identifier-url" content="http://www.gling.be">
        <meta name="author" content="Gling">
        <meta name="reply-to" content="info@@gling.be">

        <meta property="og:url" content="https://www.gling.be" />

        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Gling" />
        <meta property="og:title" content="Gling - What's Up in my Shops" />
        <meta property="og:description" content="Découvrez les commerces de votre quartier" />
        <meta property="og:image" content="/assets/images/icon-180.png" />
        <meta property="og:image:type" content="image/png" />

            <!-- main -->

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/bootstrap/dist/css/bootstrap.min.css")">
            <!-- 19 ko -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/bootstrap/dist/css/bootstrap-theme.min.css")">


            <!-- main -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/welcome-page.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/glingicon.css")">
    </head>
    <body >

            <!-- load data -->
        <script>
        var languages = @Html(new ObjectMapper().writeValueAsString(languages.getList)) ;
        </script>

        <div class="global-container">
            <div class="header">
                <div class="gling-icon-logoapp logo"></div>
                <p>What's up in my shops</p>

                <a class="gling-button" href="/">
                    Entrer!
                </a>

            </div>

            <div class="text-block text-block-customer">
                <div class="center">
                    @*<div class="gling-icon-people icon"></div>*@
                    <h3 class="text-block-title">Vous aimez vos commerces ?</h3>
                </div>

                <div class="presentation-block">
                    <div>
                        <span class="gling-icon-shop"></span>
                        <h4>VOTRE RESEAU</h4>
                        <p>Restaurants, boutiques de vêtements, théâtres, magasins de décoration,… Gling rassemble tous les types d’établissements.</p>
                    </div>
                    <div>
                        <span class="gling-icon-geolocalisation"></span>
                        <h4>PRES DE CHEZ VOUS</h4>
                        <p>Localisez-vous à la maison, au travail  ou ailleurs et découvrez ce qu’il se passe dans vos commerces de proximité.</p>
                    </div>
                    <div>
                        <span class="gling-icon-heart"></span>
                        <h4>VOS ENVIES</h4>
                        <p>Vous avez envie de manger, voyager, décorer, prendre soin de vous? <br/>Triez les publications selon vos envies.</p>
                    </div>
                </div>
                <div class="action">
                    <a class="gling-button" href="/customerRegistration">
                        Enregistrez-vous
                    </a>
                </div>
            </div>

            <div class="text-block text-block-customer">
                <div class="center">
                    @*<div class="gling-icon-shop icon"></div>*@
                    <h3 class="text-block-title">Vous êtes un commerce ?</h3>
                </div>

                <div class="presentation-block">
                    <div>
                        <span class="gling-icon-fidelisation"></span>
                        <h4>FIDELISATION</h4>
                        <p>Renforcez le lien de fidélité avec vos clients en gardant un contact  régulier.</p>
                    </div>
                    <div>
                        <span class="gling-icon-people"></span>
                        <h4>NOUVEAUX CLIENTS</h4>
                        <p>Faites découvrir votre commerce grâce à la géolocalisation ou au réseau de vos clients.</p>
                    </div>
                    <div>
                        <span class="gling-icon-calendar"></span>
                        <h4>OUTIL QUOTIDIEN</h4>
                        <p>Organisez et communiquez plus facilement vos actions spéciales.</p>
                    </div>
                </div>
                <div class="action">
                    <a class="gling-button" href="/businessRegistration">
                        Enregistrez-vous
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>