@(languages: be.lynk.server.dto.ListDTO[be.lynk.server.dto.LangDTO],currentLang : be.lynk.server.dto.LangDTO)

@import com.fasterxml.jackson.databind.ObjectMapper

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("--.site.name")</title>
        <meta charset="utf-8"/>
        <base href="/">


        <meta http-equiv="content-language" content="fr">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="Suivez l’actualité de  vos commerces favoris ! Restaurants, boutiques, théâtres, magasins de décoration,… Gling rassemble tous les types d’établissements pour répondre à l’ensemble de vos envies.">
        <meta name="keywords" content="Magasin Commerce Commerçant Consommateur Client Local Proximité Promotion Réduction Actualité Nouveauté Evénement Coordonnées Contact Heures ouverture Téléphone E-mail Adresse Communication Application Géolocalisation Gling Shop Deal">
        <meta name="robots" content="index,follow">
        <meta name="revisit-after" content="15days">
        <meta name="identifier-url" content="http://www.gling.be">
        <meta name="author" content="Gling">
        <meta name="reply-to" content="info@@gling.be">

        <meta property="og:url" content="https://www.gling.be" />

        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Gling" />
        <meta property="og:title" content="Gling - What's Up in my Shops" />
        <meta property="og:description" content="Découvrez les commerces de votre quartier" />
        <meta property="og:image" content="/assets/images/icon-180.png" />
        <meta property="og:image:type" content="image/png" />

            <!-- google analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68956215-1', 'auto');
        ga('send', 'pageview');

        </script>

            <!-- main -->

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/bootstrap/dist/css/bootstrap.min.css")">
            <!-- 19 ko -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/bootstrap/dist/css/bootstrap-theme.min.css")">


            <!-- main -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/welcome-page.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/glingicon.css")">
    </head>
    <body >

            <!-- load data -->
        <script>
        var languages = @Html(new ObjectMapper().writeValueAsString(languages.getList)) ;

        var changeLanguage = function () {
        window.location.replace( '/welcome/' + document.getElementById("lang-selection").value ) ;
        }
        </script>

        <div class="global-container">
            <div class="header">
                <div class="gling-icon gling-icon-logoapp logo"></div>
                <p>What's up in my shops</p>

                <a class="gling-button" href="/">
                @Messages("--.welcome.start")
                </a>

            </div>


                <!-- lang -->
            <div style="text-align : center">
                <select id="lang-selection" class="gling-button-light" onchange="changeLanguage()">
                    @for(lang <- languages.getList){
                        <option
                        @if(currentLang.getCode() == lang.getCode()){
                         selected
                        }
                        >@lang.getCode()</option>
                    }
                </select>
            </div>

            <div class="text-block text-block-customer">
                <div class="center">
                    <h3 class="text-block-title">
                    @Messages("--.welcome.customer.title")</h3>
                </div>

                <div class="presentation-block">
                    <div>
                        <span class="gling-icon gling-icon-shop"></span>
                        <h4>@Messages("--.welcome.customer.subTitle1")</h4>
                        <p>@Messages("--.welcome.customer.content1")</p>
                    </div>
                    <div>
                        <span class="gling-icon gling-icon-geolocalisation"></span>
                        <h4>@Messages("--.welcome.customer.subTitle2")</h4>
                        <p>@Messages("--.welcome.customer.content2")</p>
                    </div>
                    <div>
                        <span class="gling-icon gling-icon-heart"></span>
                        <h4>@Messages("--.welcome.customer.subTitle3")</h4>
                        <p>@Messages("--.welcome.customer.content3")</p>
                    </div>
                </div>
                <div class="action">
                    <a class="gling-button" href="/customerRegistration">
                    @Messages("--.welcome.registration")
                    </a>
                </div>
            </div>

            <div class="text-block text-block-customer">
                <div class="center">
                    <h3 class="text-block-title">@Messages("--.welcome.business.title")</h3>
                </div>

                <div class="presentation-block">
                    <div>
                        <span class="gling-icon gling-icon-fidelisation"></span>
                        <h4>@Messages("--.welcome.business.subTitle1")</h4>
                        <p>@Messages("--.welcome.business.content1")</p>
                    </div>
                    <div>
                        <span class="gling-icon gling-icon-people"></span>
                        <h4>@Messages("--.welcome.business.subTitle2")</h4>
                        <p>@Messages("--.welcome.business.content2")</p>
                    </div>
                    <div>
                        <span class="gling-icon gling-icon-calendar"></span>
                        <h4>@Messages("--.welcome.business.subTitle3")</h4>
                        <p>@Messages("--.welcome.business.content3")</p>
                    </div>
                </div>
                <div class="action">
                    <a class="gling-button" href="/businessRegistration">
                    @Messages("--.welcome.registration")
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>