<div class="publication-list">

    <div ng-show="getInfo().loading===true" class="publication-list-loading">
        <img src="assets/images/big_loading.gif"/>
    </div>


    <div ng-hide="getInfo().loading===true"
         ng-repeat="publication in publications"
         class="publication-box publication-publication"
         ng-click="click()">

        <img class="illustration" ng-src="{{publication.businessIllustration | image}}"/>

        <div class="publication-list-business-data">
            <div>
                <span class="link" ng-click="navigateTo('/business/'+publication.businessId)">{{publication.businessName}}</span>
            </div>
            <div>
                <button ng-click="follow(publication)" class="follow-button">
                    <img src="assets/images/haert.png" ng-show="publication.following"/>
                    <img src="assets/images/haert-off.png" ng-hide="publication.following"/>
                </button>
                {{publication.totalFollowers}}
            </div>
            <div class="distance"><i class="fa fa-globe"></i> {{publication.distance / 1000 | number:2}} km</div>
            <br/>
        </div>

        <div class="publication-list-publication-data">

            <div class="publication-reduction">
                <div ng-show="publication.type == 'PROMOTION' && publication.offPercent * 100 >= 1">
                    - {{publication.offPercent * 100|number:0}} % !
                </div>
                <div ng-show="publication.type == 'PROMOTION' && publication.interval < (24 * 60 * 60 * 1000)">
                    Plus que {{ publication.interval |date:'H'}} h !
                </div>
            </div>

            <div class="date"><i class="fa fa-calendar"></i> {{publication.endDate | date:medium}}</div>
            <div class="publication-box-name">{{publication.description}}</div>

            <div ng-repeat="picture in publication.pictures">
                <img ng-src="{{picture | image}}"/>
            </div>
        </div>
    </div>

</div>