<div class="navbar navbar-app navbar-absolute-top"
     ng-class="{'header-with-advanced-search':advancedSearch}">

    <div class="navbar-brand navbar-brand-center header-option-container" style="padding-top: 5px;">

        <search-bar-ctrl ng-info="{mobile:true}"></search-bar-ctrl>

    </div>


    <div class="btn-group pull-left">
        <div class="btn btn-navbar" ng-click="back()" ng-hide="displayMenu !== false">
            <div class="nav-button" ng-show="displayBack()">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </div>
        </div>
        <div class="btn btn-navbar nav-menu" ng-click="showMenu()"  ng-show="displayMenu !== false" >
            <div class="nav-button">
                <i class="gling-icon gling-icon-menu"></i>
            </div>
        </div>
    </div>

</div>