<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 ng-show="update" class="modal-title">{{'--.account.address.modal.title.update' | translateText}}</h4>
    <h4 ng-hide="update" class="modal-title">{{'--.account.address.modal.title.create' | translateText}}</h4>
</div>
<div class="modal-body"  >

    <address-form-ctrl ng-info="addressParam"></address-form-ctrl>
</div>
<div class="modal-footer">
    <button id="profile-btn-save"
            ng-disabled="loading"
            type="button"
            class="btn gling-button-dark"
            ng-click="save()">
        {{'--.generic.save' | translateText}}
    </button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading" />
</div>