<div class="publication-list">

    <div ng-show="getInfo().loading===true" class="loading">
        <img src="/assets/images/big_loading.gif"/>
    </div>

    <div ng-show="getInfo().loading!=true && businesses.length == 0">
        {{'--.list.nothing' | translateText}}
    </div>

    <div ng-repeat="publication in publications"
         id="publication{{publication.id}}"
         class="publication-box publication-promotion publication-list-publication-data"
         ng-click="click()">

        <div class="publication-list-publication-data">

            <div class="publication-reduction">
                <div ng-show="publication.type == 'PROMOTION' && publication.offPercent * 100 >= 1">
                    - {{publication.offPercent * 100|number:0}} % !
                </div>
                <div ng-show="publication.type == 'PROMOTION' && publication.interval < (24 * 60 * 60 * 1000)">
                    Plus que {{ publication.interval |date:'H'}} h !
                </div>
            </div>

            <!-- start date -->
            <div class="date"><i class="fa fa-calendar"></i> {{publication.startDate | date:medium}}</div>
            <!-- name -->
            <div class="publication-box-name">{{publication.title}}</div>
            <!-- description -->
            <div class="publication-box-description">{{publication.description}}</div>

            <!-- promotion data -->
            <div ng-show="publication.type == 'PROMOTION'"
                 class="publication-box-promotion-data">
                {{'--.publication.promotionData' | translateText}}
                <table>
                    <tr ng-show="publication.quantity!=null">
                        <td>{{'--.promotion.quantity' | translateText}}</td>
                        <td>{{publication.quantity}} {{publication.unit}}</td>
                    </tr>
                    <tr ng-show="publication.originalPrice!=null">
                        <td>{{'--.promotion.originalUnitPrice' | translateText}}</td>
                        <td>{{publication.originalPrice | number:2}} €</td>
                    </tr>
                    <tr ng-show="publication.originalPrice!=null">
                        <td>{{'--.promotion.offPrice' | translateText}}</td>
                        <td>{{(publication.originalPrice * (1 - publication.offPercent)) | number:2 }} €</td>
                    </tr>
                    <tr>
                        <td>{{'--.promotion.offPercent' | translateText}}</td>
                        <td> - {{(publication.offPercent * 100) | number:2 }} %</td>
                    </tr>
                </table>
            </div>


            <!-- pictures -->
            <div class="publication-box-picture-container">
                <gallery-ctrl ng-info="{images:publication.pictures}"></gallery-ctrl>
            </div>
        </div>


        <!-- remove publication -->
        <button
                ng-show="getInfo().displayRemoveIcon"
                type="button"
                class="btn btn-primary"
                ng-click="removePublication(publication)">
            {{'--.generic.remove' | translateText}}
        </button>

    </div>

</div>