<div class="publication-list">





    <div    ng-repeat="publication in publications"
            class="publication-box publication-promotion publication-list-publication-data"
            ng-click="click()">

        <div class="publication-list-publication-data">

            <div class="publication-reduction">
                <div ng-show="publication.type == 'PROMOTION' && publication.offPercent * 100 >= 1">
                    - {{publication.offPercent * 100|number:0}} % !
                </div>
                <div ng-show="publication.type == 'PROMOTION' && publication.interval < (24 * 60 * 60 * 1000)">
                    Plus que {{ publication.interval |date:'H'}} h !
                </div>
            </div>

            <div class="date"><i class="fa fa-calendar"></i> {{publication.endDate | date:medium}}</div>
            <div class="publication-box-name">{{publication.description}}</div>

            <div ng-repeat="picture in publication.pictures">
                <img ng-src="{{picture | image}}"/>
            </div>
        </div>

    </div>

</div>