<div class="follow-widget">
    <div ng-hide="getInfo().displayText===true">
        <button ng-click="follow()">
            <span class="gling-icon-bell selected" ng-show="getInfo().business.following"></span>
            <span class="gling-icon-bell2" ng-hide="getInfo().business.following"></span>
        </button>
    </div>
    <div class="follow-text">
        <div class="link" ng-hide="getInfo().business.following" ng-click="follow()">{{'--.followWidget.stopFollow' |
            translateText}}
        </div>
        <div class="link" ng-show="getInfo().business.following" ng-click="follow()">{{'--.followWidget.follow' |
            translateText}}
        </div>
    </div>
</div>