<div class="follow-widget">


    <div class="follow-text" ng-hide="getInfo().displayText===true">
        <div>
            {{'--.followWidget.follow' | translateText:null:true}}
        </div>
    </div>

    <div ng-hide="getInfo().displayText===true" class="follow-widget-icon"  ng-click="follow()">

        <button>
            <span class="gling-icon gling-icon gling-icon-bell selected" ng-show="getInfo().business.following"></span>
            <span class="gling-icon gling-icon gling-icon-bell2" ng-hide="getInfo().business.following"></span>
        </button>
    </div>
    <div class="follow-text" ng-show="getInfo().displayText===true">
        <div class="link" ng-hide="getInfo().business.following" ng-click="follow()">
            {{'--.followWidget.followBusiness' | translateText}}
        </div>
        <div class="link" ng-show="getInfo().business.following" ng-click="follow()">
            {{'--.followWidget.stopFollowBusiness' | translateText}}
        </div>
    </div>
</div>