.welcome-page
    .welcome-header
        .gling-icon.gling-icon-logoapp.logo
        p What's up in my shops

    .left-column

        //- event block
        .block-title.block-title-left.block-title-first Cette semaine sur Gling !
        .event-block
            img(src="/assets/images/event/sn.jpg")
            span.event-title Saint Nicolas a aussi ses commerces de proximité favoris!
            br
            | Magasins de jeux et jouets, marchand de spéculoos et même légumier pour ses carottes… Saint Nicolas aime consommer local!
            br
            | Alors vous aussi, faites vous plaisir dans vos commerces de proximité et restez au courant de leurs actualités grâce à Gling.
            br
            | Et… N’oubliez pas de rester sage!

        //publication
        .block-title.block-title-left Les dernières actualités de vos commerces
            .see-more.link(ng-click="goTo('/')") Voir plus...
        publication-list-ctrl(ng-info='publicationListCtrl')
        .link.center(ng-click="goTo('/')") Découvrez plus d'actualités...

    .right-column

        //- facebook campaign
        .block-title.block-title-first Participez sur Facebook!
        .fb-post(data-href="https://www.facebook.com/gling.be/posts/1695721087310165",data-width="380")

        //map
        .block-title Les quartiers actifs
            .see-more.link(ng-click="goTo('/map/')") Voir plus...
        .map-container
            flex-slider(flex-slide="map in maps track by $index ",animation="slide",pauseOnHover="true")
                li
                    img(style="cursor:pointer",ng-src="{{map.src}}",ng-click="openMap(map)")


        //- last business
        .block-title Connaissez-vous ?
        .welcome-business-list
            .welcome-business-list-el(ng-repeat="business in businesses")
                table
                    tr
                        td(rowspan=2,ng-click="goTo('/business/'+business.id)")
                            img.illustration(ng-src="{{business.illustration | image}}")
                        td(ng-click="goTo('/business/'+business.id)")
                            .title {{business.name}}
                    tr
                        td
                            .address {{business.address.street}}, {{business.address.zip}} {{business.address.city}} - {{business.distance / 1000 | number:2}} km<br/>
                category-line-ctrl(ng-info="{categories:business.categories,level1:false}")
                follow-widget-ctrl(ng-info="{displayText:true,business:business}")