.welcome-page
    .welcome-header
        .gling-icon.gling-icon-logoapp.logo
        p What's up in my shops

    .left-column

        //- event block
        .block-title.block-title-left.block-title-first
            | {{'--.welcome.thisWeek' | translateText}}
        .event-block
            img(src="/assets/images/event/noel.jpg")
            span.event-title {{'--.welcome.event.christmas.title' | translateText}}
            br
            br
            span(ng-bind-html="'--.welcome.event.christmas.content' | translateText | text")

        //publication
        .block-title.block-title-left
            | {{'--.welcome.lastPublications' | translateText}}
            .see-more.link(ng-click="goTo('/home/')") {{'--.welcome.seeMore' | translateText}}
        publication-list-ctrl(ng-info='publicationListCtrl')
        .link.center(ng-click="goTo('/home/')") {{'--.welcome.morePublications' | translateText}}

    .right-column

        //- facebook campaign
        .block-title.block-title-first {{'--.welcome.joinOnFacebook' | translateText}}
        .fb-post(data-href="https://www.facebook.com/gling.be/posts/1698035507078723",data-width="380")

        //map
        .block-title {{'--.welcome.neighborhood' | translateText}}
            .see-more.link(ng-click="goTo('/map/')") {{'--.welcome.seeMore' | translateText}}
        .map-container
            flex-slider(flex-slide="map in maps track by $index ",animation="slide",pauseOnHover="true")
                li
                    .map-slider
                        div {{map.name}}
                    img(style="cursor:pointer",ng-src="{{map.src}}",ng-click="openMap(map)")


        //- last business
        .block-title {{'--.welcome.lastBusinesses' | translateText}}
        .welcome-business-list
            .welcome-business-list-el(ng-repeat="business in businesses")
                table
                    tr
                        td(rowspan=2,ng-click="goTo('/business/'+business.id)")
                            img.illustration(ng-src="{{business.illustration | image}}")
                        td(ng-click="goTo('/business/'+business.id)")
                            .title {{business.name}}
                    tr
                        td
                            .address {{business.address.street}}, {{business.address.zip}} {{business.address.city}} - {{business.distance / 1000 | number:2}} km<br/>
                category-line-ctrl(ng-info="{categories:business.categories,level1:false}")
                .welcome-business-action
                    follow-widget-ctrl(ng-info="{displayText:true,business:business}")