@width: 400px;
@height: 300px;
.business-category {

    margin: auto;

    width: calc(@width * 2);
    height: @height;

    & > li {
        width: @width;
        height: @height;
        float: left;
        vertical-align: top;
        border-right: 2px solid #c0c0c0;
        border-top: 2px solid #c0c0c0;
        border-bottom: 2px solid #c0c0c0;
        overflow: auto;
        list-style: none;

        & > div{
            overflow: auto;
        }
    }

    & > li:first-child {
        border-left: 2px solid #c0c0c0;
    }

    .category-box {
        width: calc(@width - 30px);
        height: 40px;
        display: inline-block;
        margin: 5px;
        background-color: #00b3ee;
        position: relative;
        box-shadow: #999999;
        color: #ffffff;
        vertical-align: middle;
        cursor: pointer;
        text-align: -webkit-center;
        vertical-align: middle;
        line-height: 40px;
    }

    .category-selected,
    .subcategory-selected, {
        background-color: #1969ee;
    }
    .category-selected:after {
        width: 0px;
        height: 0px;
        border-top: 20px inset transparent;
        border-bottom: 20px inset transparent;
        border-left: 20px solid #1969ee;
        position: absolute;
        content: "";
        top: 0;
        left: calc(@width - 30px);
    }

    .business-category-column-title {
        background-color: white;
        padding: 5px;
        border-bottom: 1px solid #999999;
        margin: 0px;
    }
}