.business-page {
    background: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    .business-page-header {
        background-color: rgb(166, 161, 161);
        border: 1px solid grey;
        width: 940px;
        height: 300px;
        background-size: 100% 100%;
        margin: auto;
        position: relative;

        .landscape-edit {
            position: absolute;
            bottom: 0px;
        }

        & > div {
            margin-top: 100px;
        }
        .business-page-illustration-container {
            vertical-align: top;
            width: 100px;
            display: inline-block;
            margin-left: 50px;
            & > img {
                width: 80px;
                height: 80px;
                border: 2px solid grey;
            }
        }
        .business-page-name {
            vertical-align: top;
            display: inline-block;
            font-size: 24px;
            color: white;
            font-weight: bold;

        }
    }

    .business-social-panel {
        img {
            height: 29px;
        }
    }

    .business-page-body {
        padding: 10px;
        .business-page-body-center {
            display: inline-block;
            vertical-align: top;
            width: 675px;
        }
        .business-page-body-right {
            display: inline-block;
            vertical-align: top;
            width: 240px;
        }
    }
    .panel {
        width: 100%;
    }

    .btn-primary {
        //        display: block;
    }

    .business-social-network-box {
        display: inline-block;
        margin: 5px;
    }

    .edit-button-container {
        display: inline-block;
        width: 41px;
        height: 22px;
    }

    .business-page-description {
        background: rgb(219, 219, 219);
        border: 1px solid black;
        padding: 10px;
    }
}

.angular-google-map-container {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    cursor: pointer;
}
