//33CC99
//28FDA7

//gling official color
@color-green-dark: #00B49B;
@color-green-light: #1AD2AA;
@color-blue-dark: #2c265c;
@color-blue-light: #aad4f2;
@color-red: #cc0033;
@color-yellow: #ff9900;
@color-grey: #ccc;
@color-grey-dark: #999;
@color-white: #f4f4f4;
@color-help: @color-yellow;
@color-black: #555555;

// main
@color-body-bg: #eee;
@color-body-text: @color-black;
@color-body-content-bg: @color-white;

@font-face {
    font-family: myFont;
    src: url('/assets/fonts/Brandon_bld.ttf');
    font-weight: bold;
}

.modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

@font-face {
    font-family: myFont;
    src: url('/assets/fonts/brandon_re.ttf');
}

.generic-center {
    text-align: center;
}

.generic-bold {
    font-weight: bold;
}

.generic-inline-block {
    display: inline-block;
    vertical-align: top;
}

.generic-pointer {
    cursor: pointer;
}

.generic-block {
    display: block !important;
}

.button-with-label-top,
.button-with-label {
    position: relative;
    &:enabled:hover {
        p {
            display: block;
        }
    }
    p {
        position: absolute;
        background-color: @color-grey-dark;
        font-family: "myFont";
        color: @color-white;
        display: none;
        padding: 4px 6px;
        font-size: 16px;
        bottom: -34px;
        left: -50%;
        opacity: 100;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        z-index: 10;
        border-radius: 6px;
    }
}

.button-with-label-top {
    p {
        top: -34px;
        bottom: inherit;
    }
}

.facebookCount {
    display: none !important;
}

.gling-button {
    border: 0; //1px solid white;
    outline: none;
    background-color: @color-green-light;
    color: @color-white;
    margin: 0 5px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    min-height: 40px;
    &:hover:enabled {
        background-color: @color-green-dark;
        color: @color-white;
        text-decoration: none;
    }
    &:disabled {
        color: rgba(255, 255, 255, 0.65);
    }

    &.selected {
        background-color: @color-blue-dark;
        &:hover:enabled {
            background-color: @color-blue-dark;
        }
    }
}

.gling-button-dark {
    border: 0; //1px solid white;
    outline: none;
    background-color: @color-blue-dark;
    color: @color-white;
    border-radius: 20px;
    padding: 4px 10px;
    margin: 2px;
    font-size: 16px;
    &:hover:enabled,
    &:active:enabled{
        background-color: @color-green-dark;
        color: @color-white;
        text-decoration: none;
        outline: none;
    }
    &:focus:enabled,
    &:visited:enabled{
        background-color: @color-blue-dark;
        color: @color-white;
        text-decoration: none;
        outline: none;
    }
    &:disabled {
        color: rgba(255, 255, 255, 0.65);
    }

    &.selected {
        background-color: @color-blue-dark;
        outline: none;
        &:hover:enabled {
            background-color: @color-blue-dark;
        }
    }
}

.btn,
.dropdown-menu,
.form-control {
    font-size: 16px;
}

.btn-gling {
    background-image: -webkit-linear-gradient(top,@color-blue-light 0,@color-blue-dark 20%,@color-blue-dark 80%,@color-blue-light 100%);
    background-image: -o-linear-gradient(top,@color-blue-light 0,@color-blue-dark 20%,@color-blue-dark 80%,@color-blue-light 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(@color-blue-light), to(@color-blue-dark));
    background-image: linear-gradient(to bottom,@color-blue-light 0,@color-blue-dark 20%,@color-blue-dark 80%,@color-blue-light 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #ffffff;
    border-color: #9ecaee;
}

.gling-button-light {
    background-color: @color-white;
    color: @color-blue-dark;
    margin-right: 10px;
    border: 2px solid @color-green-light;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    min-height: 40px;
}

.btn,
.dropdown-menu,
.form-control {
    font-size: 16px;
}

.panel-gling {
    overflow: hidden;
//    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid @color-blue-dark;
    border-radius: 20px;
    .panel-heading {
        font-size: 20px;
        color: @color-blue-dark;
        font-weight: bold;
        border-bottom: 1px solid @color-grey;
    }
}

.help-big {
    font-weight: bold;
    text-align: center;
    margin: 8px;
    font-size: 18px;
}

.help-popup {
    position: absolute;
    width: 300px;
    background-color: @color-help;
    z-index: 1;
    font-size: 16px;
    padding: 10px;
    border: 1px solid @color-black;
    margin: 5px;
    .help-popup-close {
        border: none;
        outline: none;
        background: none;
        font-size: 12px;
        border-radius: 20px;
        width: 22px;
        height: 22px;
        float: right;
        &:hover,
        &:focus {
            background-color: @color-black;
            color: @color-help;
        }
    }
}

.help-div {
    background-color: @color-green-light;
    color: @color-blue-dark;
    font-size: 16px;
    padding: 10px;
    border: 1px solid @color-black;
    margin: 5px;

    .help-popup-close {
        border: none;
        outline: none;
        background: none;
        font-size: 12px;
        border-radius: 20px;
        width: 22px;
        height: 22px;
        float: right;
        &:hover,
        &:focus {
            background-color: @color-black;
            color: @color-help;
        }
    }
}

.help-div-geolocalisation {
    background-color: @color-help;
    font-size: 16px;
    padding: 10px;
    border: 1px solid @color-black;
    margin: 5px;

    .help-popup-close {
        border: none;
        outline: none;
        background: none;
        font-size: 12px;
        border-radius: 20px;
        width: 22px;
        height: 22px;
        float: right;
        &:hover,
        &:focus {
            background-color: @color-black;
            color: @color-help;
        }
    }
}

.horizontal-split {

    width: 100%;
    table-layout: fixed;

    tr {

        td:first-child,
        td:last-child {
            width: 2em;
        }
        td:nth-child(2) {
            width: 1em;
            text-align: center;
        }

        div {
            width: 100%; //~'calc(50% - 30px)';
            height: 1px;
            background: @color-grey-dark;
            vertical-align: middle;
        }
    }
}

.modal-description {
    background-color: #efefef;
    margin: 5px;
    padding: 3px 25px;
    width: 90%;
}

.link {
    text-decoration: underline;
    color: #1b0ddd;
    cursor: pointer;
}

.link:hover {
    color: #1a0dab;
}