.field-image-multiple {
    .open {
        .date_input {
            position: absolute;
            display: block;
        }
    }

    .field-image-multiple-btn {
        margin-right: 10px;
        width: ~'calc(100% - 20px)';
        margin-left: 10px;
    }

    .field-image-multiple-progress-bar {
        overflow: hidden;
        text-align: center;
        border: 1px solid @color-grey;
        width: ~'calc(100% - 70px)';
        height: 20px;
        display: inline-block;
        & > div {
            height: 18px;
            background-color: @color-green-light;
        }
    }

    textarea {
        width: 100%;
    }

    .add-image-button {
        display: inline-block;
        margin-top: 6px;
        width: 120px;
        height: 120px;
        border: 1px solid @color-grey-dark;
        overflow: hidden;
        vertical-align: top;
        cursor: pointer;
        background-image: url('/assets/images/add.png');
        background-size: 120px 120px;
        &:hover {
            background-color: @color-grey;
        }
        input {
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }

    .field-image-multiple-progress-percentage {
        display: inline-block;
        line-height: 20px;
        vertical-align: top;
        margin-left: 5px;
        font-weight: bold;
        font-size: 16px;
        width: 50px;
        text-align: right;
    }

    .image-block-container {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        width: 120px;

        .image-block {
            display: inline-block;
            position: relative;
            width: 100%;
            border: 1px solid @color-grey-dark;
            min-height: 60px;
            background-color: @color-grey;

            .image-percentage{
                color: @color-white;
                z-index: 10;
                position: absolute;
                text-align: center;
                vertical-align: middle;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                padding-top: 20px;
                font-weight: bold;
                font-size: 18px;
            }

            .image-percentage-background {
                background-color: @color-green-light;
                position: absolute;
                top: 0;
                bottom: 0;
            }

            .image-remove {
                position: absolute;
                background-color: @color-red;
                width: 20px;
                height: 20px;
                border: 1px solid @color-grey-dark;
                border-radius: 10px;
                top: -8px;
                right: -8px;
                z-index: 100;
                color: @color-white;
                font-size: 14px;
                text-align: center;
                line-height: 20px;
                overflow: hidden;
                cursor: pointer;
                &:hover {
                    background-color: #ffffff;
                    color: @color-red;
                }
            }

            .image-container {
                overflow: hidden;
                max-width: 850px;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }

}