.follow-widget {
    text-align: center;
    display: inline-block;
    .follow-widget-icon {
        cursor: pointer;
        text-align: center;
        margin: 0px 10px 10px 10px;
        border: 2px solid  @color-blue-dark;
        color: white;
        border-radius: 50px;
        padding: 6px 10px;
        display: inline-block;
        vertical-align: top;
        background-color: white;

        button {
            font-size: 48px;
            color: @color-blue-dark;
            .selected {
                color: @color-green-light !important;
            }
        }

        button {
            background: none;
            border: none;
            outline: none;
        }
    }
}

.follow-text {
    & > * {
        display: inline-block;;
        margin-left: 5px;
        margin-bottom: 3px;

    }
    span {
        color: @color-blue-dark;
        &.selected {
            color: @color-green-light !important;
        }
    }
}
