.follow-widget {
    text-align: center;
    & > div {
        text-align: center;
        margin: 10px;
        background-color: @color-blue-dark;
        color: white;
        border-radius: 15px;
        padding: 6px 10px;
        display: inline-block;
        vertical-align: top;

        button {
            background: none;
            border: none;
            outline: none;
        }
    }
}
