.followed-business {

    table {
        background-color: white;


        img {
            width: 60px;
            height: 60px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    }

    .first-cell{
        & > div{
            display: inline-block;
            vertical-align: top;
        }
    }

    .followed-business-container {
        padding: 10px;
        margin: 10px;
        border: 1px solid @color-grey-dark;
        box-shadow: @color-grey-dark;
    }

}