.gallery-component {

    .gallery-picture {
        height: 80px;
        cursor: pointer;
    }
}

.gallery-modal {

    & > div {
        display: inline-block;
        vertical-align: top;
    }

    & > div:nth-child(1){
        width: ~'calc(100% - 160px)';
//        padding: 10px;
        text-align: center;
    }
    & > div:nth-child(2){
        width: 150px;
    }

    img {
        width: auto;
        max-height: 500px;
        max-width: 100%;
    }
}

.modal-gallery-content {
    & > div {
    }
}