.gallery-component {

    & > div{
        width: 45%;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        &:nth-child(2n){

            float: right;
        }
    }

    .gallery-picture {
        border: 1px solid #ccc;
        margin: 0 -50%;
        height: 80px;
        cursor: pointer;
        &:hover{
            border: 1px solid #888;
        }
    }
}

.gallery-modal {

    & > div {
        display: inline-block;
        vertical-align: top;
    }

    & > div:nth-child(1){
        width: ~'calc(100% - 160px)';
//        padding: 10px;
        text-align: center;
    }
    & > div:nth-child(2){
        width: 150px;
    }

    img {
        width: auto;
        max-height: 500px;
        max-width: 100%;
    }
}

.modal-gallery-content {
    & > div {
    }
}