.nav-bar {
    .nav-button {
        font-size: 26px;
        vertical-align: middle;
    }
}

.mobile_welcome_registration_title {
    border-top: 3px double #999;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.list-group-item {
    color: #666;
    &:hover {
        background-color: #ddd;
    }
}