.modal-login {

    .modal-login-help{
        font-weight: bold;
        font-size: 18px;
        margin: 10px;
    }

    .modal-login-link-box {

        .modal-login-link {

        }

        .modal-login-link:last-child {
            float: right;
        }
    }





    .modal-subtitle {
        text-decoration: underline;
        margin-left: 40px;
        color: #8C8C8C;
    }

}