.login-form{
    margin-bottom: 15px;
    .condition{
        font-size: 14px;
    }
}


.modal-login {



    .login-action {

        .glyphicon{
            padding-right: 4px;
            color: @color-green-light;
            font-size: 18px;
        }

        width: 100%;
        tr {
            td:first-child {
                vertical-align: top;
                padding: 2px 10px 15px;
                font-weight: bold;
                width: 50%;
            }
        }
    }

    .modal-login-help {
        font-weight: bold;
        font-size: 18px;
        margin: 10px;
    }

    .modal-login-link-box {
        margin: 5px;
        padding: 3px 25px;
        div {
            font-weight: bold;
        }

        .modal-login-link {

        }

        .modal-login-link:last-child {
            float: right;
        }
    }

    .modal-subtitle {
        text-decoration: underline;
        margin-left: 40px;
        color: @color-grey-dark;
    }

}