.modal-login {

    .modal-login-link-box {

        .modal-login-link {

        }

        .modal-login-link:last-child {
            float: right;
        }
    }



    .modal-description {
        background-color: #efefef;
        margin: 5px;
        padding: 3px 25px;
        width: 90%;
    }

    .modal-subtitle {
        text-decoration: underline;
        margin-left: 40px;
        color: #8C8C8C;
    }

}