.profile-page {
    text-align: center;
    .panel{
        text-align: left;
        min-width: 600px;
        margin: 10px auto;
    }
    .panel-personal-information{
        width: 60%;
    }
    .main-panel {
        display: inline-block;
        vertical-align: top;
    }
    .category-box{
        margin: 5px;
    }
}