.profile-page {
  text-align: center;
  .panel {
    text-align: left;
    min-width: 600px;
    margin: 10px auto;
  }
  .panel-personal-information {
    width: 60%;
  }
  .main-panel {
    display: inline-block;
    vertical-align: top;
  }
  .category-box {
    margin: 5px;
  }

  .profile-table {
    border-top: 1px solid @color-grey;
    margin-top: 15px;
    width: 100%;
    tbody {
      tr {
        td:first-child {
          text-align: center;
          width: 100px;
        }
      }
    }
    th {
      text-align: left;
      text-align: center;
      padding-bottom: 5px;
      font-size: 20px;
    }
  }

  .profile-action-table {
    tbody {
      tr {
        td:first-child {
          width: 50%;
        }
      }
    }
  }

}