

.publication-list {


  .publication-list-loading {
    text-align: center;
    padding-top: 50px;
  }

  .publication-box {
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #999;
    position: relative;
    margin: 12px 5px 5px;
    width: 650px;
    min-height: 160px;
    padding: 10px 5px;
    background-image: linear-gradient(to bottom, #DDDDDD 0, #e8e8e8 100%);
    padding: 10px;

    .follow-button {
      background: none;
      border: none;
      outline: none;
    }

    .publication-list-business-data {
      width: ~'calc(100% - 90px)';
      & > div {
        display: inline-block;
        &:first-child {
          margin-left: 5px;
          font-size: 16px;
          font-weight: bold;
          margin-right: 30px;
        }
      }
      .distance {
        float: right;
      }
    }

    .publication-list-publication-data {
      margin: 5px;
      padding: 5px;
      width: ~'calc(100% - 90px)';
      border-top: 1px solid #CCCCCC;
      border-left: 1px solid #CCCCCC;

      .date {
        float: right;
      }

      img {
        width: 400px;
      }

    }

    .publication-box-name {
      font-weight: bold;
    }

    .business-name {
      position: absolute;
      background: yellow;
      padding: 2px 5px;
      top: -15px;
      left: 3px;
      -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
    }

    & > * {
      display: inline-block;
    }

    .illustration {
      width: 60px;
      height: 60px;
      float: left;
      border: 1px solid darkgray;
      margin-right: 3px;
      margin-bottom: 3px;
      -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
    }

    .lynk-btn {
      cursor: pointer;
      margin: 5px;
    }

  }

  .publication-reduction {

    display: inline-block;
    position: absolute;
    left: -80px;
    top: 80px;

    & > div {
      margin-bottom: 15px;
      background: red;
      padding: 6px 0;
      text-align: center;
      width: 120px;
      color: white;
      font-weight: bold;
      margin-top: -6px;
      -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.5);
      white-space: nowrap;
    }
  }
}