//@publication-border-color: @color-green-light;
@publication-border-color: #3e4192;
@publication-border-color-hover: #4dfbcd;
@publication-border-color-followed: #4dfbcd;
@publication-border-color-followed-hover: #3e4192;
@publication-text-color: #3e4192;
@publication-text-color-selected: #4dfbcd;
@border-size: 2px;

.publication-list {
    margin-left: 60px;
    font-family: "myFont";

    .publication-box {

        &.publication-bordered,
        .publication-bordered {
            border: @border-size solid @publication-border-color;
        }
        .publication-bordered-hover:hover {
            border: @border-size solid @publication-border-color-hover;
        }
        .publication-bordered-bottom {
            border-bottom: @border-size solid @publication-border-color;
        }
        .publication-bordered-bottom-hover:hover {
            border-bottom: @border-size solid @publication-border-color-hover;
        }
        .publication-color-background {
            color: @publication-text-color;
        }

        &.publication-followed {
            &.publication-bordered,
            .publication-bordered {
                border: @border-size solid @publication-border-color-followed;
            }
            .publication-bordered-hover:hover {
                border: @border-size solid @publication-border-color-followed-hover;
            }
            .publication-bordered-bottom {
                border-bottom: @border-size solid @publication-border-color-followed;
            }
            .publication-bordered-bottom-hover:hover {
                border-bottom: @border-size solid @publication-border-color-followed-hover;
            }
            .publication-color-background {
                color: @publication-text-color-selected;
            }
        }

        .publication-badge {
            height: 53px;
            width: 87px;
            position: absolute;
            border-radius: 5px;
            background: url('/assets/images/publication_badge.png') no-repeat;
            top: 20px;
            left: -68px;
            color: white;
            line-height: 53px;
            padding-left: 8px;
            vertical-align: middle;
            font-size: 20px;
            font-weight: bold;
            text-align: right;
            padding-right: 33px;
        }

        width: 600px;
        position: relative;
        border-radius: 10px;
        background-color: white;
        margin: 15px auto;

        .publication-header {
            width: 100%;

            td:first-child {
                width: 10%;
            }
            td:last-child {
                width: 90%;
            }

            & > * {
                vertical-align: top;
            }

            .publication-business-illustration {
                border-radius: 10px;
                width: 140px;
                height: 140px;
                overflow: hidden;
                margin: 25px 20px 20px 25px;

                img {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                }
            }

            .publication-header-business {
                height: 50px;

                & > div {
                    font-size: 24px;
                    height: 100%;
                    cursor: pointer;
                    span {
                        top: 15px;
                        position: relative;
                        font-weight: bold;
                        color: @publication-text-color;
                        i{
                            color: @publication-border-color-followed;
                        }
                    }
                }
            }

            .publication-header-title {
                font-size: 18px;
                padding-top: 10px;

                div:first-child {
                    min-height: 50px;
                    i {
                        font-size: 30px;
                        float: right;
                        margin-right: 8px;
                        padding: 10px;
                        border-radius: 30px;
                        color: white;
                        top: -4px;
                        position: relative;
                        margin-left: 5px;
                    }
                }

                .publication-header-data-box {
                    border-radius: 10px;
                    display: inline-block;
                    float: right;
                    padding: 8px 12px;
                    font-size: 14px;
                    margin-right: 15px;
                    color: @publication-text-color;
                    top: 20px;
                    position: relative;

                    i {
                        font-size: 18px;
                        margin-right: 5px;
                    }

                    &.publication-box-price {
                        span:first-child {
                            font-size: 16px;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        span:last-child {
                            text-decoration: line-through;
                        }
                    }
                }
            }

        }

        .publication-body {
            margin-left: 25px;
            margin-right: 15px;
            & > * {
                vertical-align: top;
                border-radius: 10px;
                margin: 0px 2px;
            }

            .publication-body-two {
                display: inline-block;
                width: 48%;
                min-height: 234px;
            }

            .publication-data {
                .publication-data-header {
                    font-size: 18px;
                    padding: 3px 10px;
                    color: @publication-text-color;
                    & > span {
                        margin-left: 25px;
                        & > div {
                            &:first-child {
                                margin-right: 2px;
                            }
                            display: inline-block;
                        }
                    }
                    & > i {
                        font-size: 18px;
                    }
                }
                .publication-data-body {
                    padding: 10px;
                    font-size: 18px;
                }
            }

            .publication-gallery {
                overflow: hidden;
                text-align: center;
                height: 225px;
                background-color: #eeeeee;
                cursor: pointer;
                //                & > div {
                //                    max-width: 220px;
                //                    overflow: hidden;
                //                    text-align: center;
                //                    display: inline-block;
                //                    margin: 0px 10px;
                //                }

                .publication-illustration {
                    height: 100%;
                }

                .publication-illustration-plus-icon {
                    position: relative;
                    bottom: 74px;
                    right: -190px;
                    height: 70px;
                    width: 70px;
                    background-color: rgba(255, 255, 255, 0.7);
                    span {
                        color: #3e4192;
                        font-size: 45px;
                        font-weight: bold;
                        margin: auto;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }
        }

        .publication-footer {
            margin-top: 20px;
            height: 25px;
            margin-bottom: 20px;
            .publication-footer-facebook {
                float: right;
                margin-right: 20px;
            }
            .publication-footer-date {
                float: right;
                padding-right: 20px;
                color: @publication-text-color;
            }

        }

    }
}