.schedule-form {

    table{
        width: 100%;
        tr{
            td{
                height: 30px;
                &:first-child{
                    width:100px;
                }
                &:nth-child(2) .hour-block{
                    border-left: 1px solid #c0c0c0;
                }
                &:nth-child(+2){
                    width: 15px;
                }
                .hour-block{
                    width: 100%;
                }
            }
        }
    }

    .schedule-form-radio {
        margin-bottom: 5px;
        & > div {
            cursor: pointer;
            display: inline-block;
            padding: 4px 10px;
            border: 1px solid #888;
            input {
                margin-right: 5px;
            }
        }
    }

    .schedule-block {
        //        width: 900px;
        height: 40px;
        //        border-bottom: 1px solid #000000;
        & > div {
            height: 50%;
        }
        .hour-block:first-child {
            left: -15px;
            width: 25px;
            text-align: center;
            border-left: 1px solid #c0c0c0;
        }
        .hour-block-info,
        .hour-block{
            width: 25px;

        }
    }
    .hour-block-info {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        position: relative;
        & > div {
            position: absolute;
            left: -10px;
        }
    }
    .hour-block {
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        border-top: 1px solid #c0c0c0;
        border-left: 0px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        background-color: white;
        padding: 0;
        height: 20px;
        cursor: col-resize;
        &:focus {
            border: 0px;
        }

    }

    button:focus{
        border: 0px;
    }

    .attendance-close {
        background-color: #d3d3d3 !important;
    }
    .attendance-light {
        background-color: #00b100 !important;
    }
    .attendance-moderate {
        background-color: #e69600 !important;
    }
    .attendance-heavy {
        background-color: #ff0000 !important;
    }
}