.schedule-form {

    .schedule-form-radio{
        margin-bottom: 5px;
        & > div{
            cursor: pointer;
            display: inline-block;
            padding: 4px 10px;
            border: 1px solid #888;
            input{
                margin-right: 5px;
            }
        }
    }

    .schedule-block {
        width: 722px;
        height: 40px;
        border: 1px solid #000000;
        .hour-block {
            border-right: 1px solid #c0c0c0;
            border-left:0px;
            border-top:0px;
            border-bottom: 0px;
            height: 100%;
            display: inline-block;
            width: 15px;
            vertical-align: top;
            background-color: #d3d3d3;
            padding: 0;
        }
    }

    .attendance-close{
        background-color: #d3d3d3 !important;
    }
    .attendance-light{
        background-color: #00b100 !important;
    }
    .attendance-moderate{
        background-color: #e69600 !important;
    }
    .attendance-heavy{
        background-color: #ff0000 !important;
    }
}