@font-face {
	font-family: 'glingicon';
	src:url('/assets/fonts/glingicon.eot?w3mdqi');
	src:url('/assets/fonts/glingicon.eot?#iefixw3mdqi') format('embedded-opentype'),
		url('/assets/fonts/glingicon.ttf?w3mdqi') format('truetype'),
		url('/assets/fonts/glingicon.woff?w3mdqi') format('woff'),
		url('/assets/fonts/glingicon.svg?w3mdqi#glingicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="gling-icon-"], [class*=" gling-icon-"] {
	font-family: 'glingicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gling-icon-fidelisation:before {
	content: "\e62a";
}
.gling-icon-geolocalisation:before {
	content: "\e62b";
}
.gling-icon-nouveau-client .path1:before {
	content: "\e62c";
	color: rgb(0, 0, 0);
}
.gling-icon-nouveau-client .path2:before {
	content: "\e62d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.gling-icon-nouveau-client .path3:before {
	content: "\e62e";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.gling-icon-nouveau-client .path4:before {
	content: "\e62f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gling-icon-nouveau-client .path5:before {
	content: "\e630";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gling-icon-home:before {
	content: "\e627";
}
.gling-icon-logogling:before {
	content: "\e628";
}
.gling-icon-logoapp:before {
	content: "\e629";
}
.gling-icon-arrow_right:before {
	content: "\e600";
}
.gling-icon-arrow_left:before {
	content: "\e601";
}
.gling-icon-arrow_down:before {
	content: "\e602";
}
.gling-icon-arrow_up:before {
	content: "\e603";
}
.gling-icon-shop:before {
	content: "\e604";
}
.gling-icon-people:before {
	content: "\e605";
}
.gling-icon-profil:before {
	content: "\e606";
}
.gling-icon-heart:before {
	content: "\e607";
}
.gling-icon-star:before {
	content: "\e608";
}
.gling-icon-mail:before {
	content: "\e609";
}
.gling-icon-promo:before {
	content: "\e60a";
}
.gling-icon-earth:before {
	content: "\e60b";
}
.gling-icon-phone:before {
	content: "\e60c";
}
.gling-icon-clock:before {
	content: "\e60d";
}
.gling-icon-glass:before {
	content: "\e60e";
}
.gling-icon-bell2:before {
	content: "\e60f";
}
.gling-icon-bell:before {
	content: "\e610";
}
.gling-icon-calendar:before {
	content: "\e611";
}
.gling-icon-facebook:before {
	content: "\e612";
}
.gling-icon-play:before {
	content: "\e613";
}
.gling-icon-technology:before {
	content: "\e614";
}
.gling-icon-music:before {
	content: "\e615";
}
.gling-icon-garden:before {
	content: "\e616";
}
.gling-icon-read:before {
	content: "\e617";
}
.gling-icon-doityourself:before {
	content: "\e618";
}
.gling-icon-baby:before {
	content: "\e619";
}
.gling-icon-sleep:before {
	content: "\e61a";
}
.gling-icon-travel:before {
	content: "\e61b";
}
.gling-icon-pets:before {
	content: "\e61c";
}
.gling-icon-sport:before {
	content: "\e61d";
}
.gling-icon-welness:before {
	content: "\e61e";
}
.gling-icon-decor:before {
	content: "\e61f";
}
.gling-icon-clothe:before {
	content: "\e620";
}
.gling-icon-supermarket:before {
	content: "\e621";
}
.gling-icon-shopping:before {
	content: "\e622";
}
.gling-icon-culture:before {
	content: "\e623";
}
.gling-icon-going_out:before {
	content: "\e624";
}
.gling-icon-drink:before {
	content: "\e625";
}
.gling-icon-eat:before {
	content: "\e626";
}
.gling-icon-images:before {
	content: "\e90e";
}
.gling-icon-money:before {
	content: "\e93c";
}
.gling-icon-location:before {
	content: "\e947";
}
.gling-icon-info:before {
	content: "\ea0c";
}
