<div class="gallery-modal-mobile" ng-show="display">
    <div>

        <!-- previous -->
        <div class="previous"
             ng-click="previous()"
             ng-show="images.length>1">
            <div>
                <span class=" gling-icon gling-icon-arrow_left"></span>
            </div>
        </div>

        <button ng-click="close()" class="btn-close glyphicon glyphicon-remove">
        </button>
        <span class="helper"></span>
        <img
                class="gallery-picture"
                ng-src="{{image | image}}"/>

        <div class="description" ng-show="image.comment!=null">
            {{image.comment}}
        </div>


        <div class="close-area" ng-click="close()">

        </div>

        <!-- next -->
        <div class="next"
             ng-click="next()"
             ng-show="images.length>1">
            <div>
                <span class=" gling-icon gling-icon-arrow_right"></span>
            </div>
        </div>
    </div>
</div>