<div class="modal-header">
    <button class="gling-button-dark glyphicon glyphicon-remove" ng-click="close()" style="float:right"></button>
    <h4 class="modal-title">{{'--.customer.registrationModal.title' | translateText}}</h4></div>
<div class="modal-body modal-login customer-registration">
    <div class="modal-description">{{'--.customer.registrationModal.personal.desc' | translateText}} <br/><span
            class="modal-login-link link" ng-click="toBusinessRegistration()">{{'--.registrationModal.toBusinessRegistration' | translateText}}</span>
    </div><!--facebook registration-->
    <div class="facebook-login-btn-container"><a class="facebookShare ng-isolate-scope" ng-click="fb_login()">
        <div class="facebookButton">
            <div class="pluginButton">
                <div class="pluginButtonContainer">
                    <div class="pluginButtonImage">
                        <button type="button"><i
                                class="pluginButtonIcon img sp_plugin-button-2x sx_plugin-button-2x_favblue"></i>
                        </button>
                    </div>
                    <span class="pluginButtonLabel">{{'--.registrationModal.facebook.btn' |translateText}}</span></div>
            </div>
        </div>
    </a></div>
    <table class="horizontal-split">
        <tr>
            <td>
                <div></div>
            </td>
            <td>{{'--.generic.or' | translateText}}</td>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <account-form-ctrl ng-info="accountParam"></account-form-ctrl>
</div>
<div class="modal-footer">
    <button id="customer-registration-modal-btn-save" class="btn gling-button-dark" ng-click="save()" type="button"
            ng-disabled="loading">{{'--.generic.save' | translateText}}
    </button>
    <img ng-show="loading" src="/assets/images/modal-loading.gif"></div>