div
    a.facebookShare.ng-isolate-scope(ng-click="share()")
        .facebookButton
            .pluginButton
                .pluginButtonContainer
                    .pluginButtonImage
                        button(type="button")
                            i.pluginButtonIcon.img.sp_plugin-button-2x.sx_plugin-button-2x_favblue
                    span.pluginButtonLabel Share