<div class="modal-body gallery-modal">



    <div>
        <img class="gallery-picture"
             ng-src="{{image | image}}"/>
    </div>

    <div class="comment-container">

        <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
        {{image.comment}}
    </div>


    <table ng-show="images.length > 1" style="width: 100%">
        <tr>
            <td>
                <button type=button"
                        id="gallery-modal-btn-previous"
                        class="btn gling-button-dark"
                        ng-click="previous()">
                    {{'--.gallery.modal.previous' | translateText}}
                </button>
            </td>
            <td>

        <span id="gallery-modal-span-number-page">
            {{imageNb}} / {{images.length}}
        </span>
            </td>
            <td>

                <button type=button"
                        id="gallery-modal-btn-next"
                        style="float: right"
                        class="btn gling-button-dark"
                        ng-click="next()">
                    {{'--.gallery.modal.next' | translateText}}
                </button>
            </td>
        </tr>
    </table>

</div>