.publication-list-mobile

    //- loading
    .loading(ng-show="loading===true")
        img(src="/assets/images/big_loading.gif")

    //- nothing
    div(ng-show="loading!=true && publications.length == 0") {{'--.list.nothing' | translateText}}

    //- content
    .publication-box-mobile(ng-hide="loading===true",ng-repeat="business in businesses",ng-click="click()")

        table.publication-header(ng-click="navigateTo('/business/'+business.id)")
            tr
                td

                    //- illustration
                    img.illustration(ng-src="{{business.illustration | image}}")
                td
                    .title-box

                        //- title
                        .title
                            i.gling-icon.gling-icon.gling-icon-bell(ng-show="business.following === true") {{business.name}}

                        //- address
                        .title-data
                            | {{business.address.street}}<br/>
                            | {{business.address.zip}},
                            | {{business.address.city}} -
                            | {{business.distance / 1000 | number:2}} km


        .business-list-business-data

            //- category
            category-line-ctrl(ng-info="{categories:business.categories}")

            //- description
            span(ng-bind-html="business.description | text : descriptionLimit")
            span.link(ng-show="business.description.length > descriptionLimitBase && descriptionLimit==descriptionLimitBase",ng-click="descriptionLimit = 10000")
                | {{'--.textReuction.seeMore' | translateText}}
            span.link(ng-show="business.description.length > descriptionLimitBase && descriptionLimit!=descriptionLimitBase",ng-click="descriptionLimit = descriptionLimitBase")
                | {{'--.textReuction.seeLess' | translateText}}

        //- follow widget
        follow-widget-ctrl(ng-info="{displayText:true,business:business}")