mobile-title-ctrl(title="'--.page.forgot_password.title'", display-menu='false')
.app-body
    .app-content
        .scrollable
            .section.customer-registration.scrollable-content
                p {{'--.forgotPassword.desc' | translateText}}
                dir-field-text(ng-info='fields.email')
                .generic-center
                    button.btn.gling-button-dark(ng-click='save()', ng-disabled='loading', type='button')
                        | {{'--.mobile.forgotPassword.btn' | translateText}}
.navbar.navbar-app.navbar-absolute-bottom
    .btn-group.navbar-brand-center
        div(style='text-align: center;width: 100%;')
            .btn.btn-navbar.glyphicon.glyphicon-home(ng-click="navigateTo('/')")
