<div class="form login-form">

    <div class="facebook-login-btn-container">

        <!-- mobile version (open connection page into the same page) -->
        <a href="https://www.facebook.com/dialog/oauth/?client_id={{facebookAppId}}&redirect_uri={{basic_url}}/&state=BELGIUM&scope={{facebookAuthorization}}&response_type=token"
           ng-click="setLoading(true)"
           ng-show="getInfo().mobileVersion"
           class="facebook-login-btn btn gling-button-dark">
            <img src="/assets/images/facebook/login_icon.png"/>
            <span>{{'--.loginModal.facebook.btn' |translateText}}</span>
        </a>

        <!-- not mobile version (open connection page into a modal) -->
        <button ng-click="fb_login();"
                class="facebook-login-btn btn gling-button-dark"
                ng-hide="getInfo().mobileVersion">
            <img src="/assets/images/facebook/login_icon.png"/>
            <span>{{'--.loginModal.facebook.btn' |translateText}}</span>
        </button>

    </div>
    <table class="horizontal-split">
        <tr>
            <td><div></div></td>
            <td>{{'--.generic.or' | translateText}}</td>
            <td><div></div></td>
        </tr>
    </table>

    <dir-field-text ng-info="fields.email"></dir-field-text>

    <dir-field-text ng-info="fields.password"></dir-field-text>

    <div ng-bind-html="'--.registration.accept.condition' | translateText | text"></div>



</div>