<div>

    <a class="facebookShare ng-isolate-scope"
       ng-click="share()">
        <div class="facebookButton">
            <div class="pluginButton">
                <div class="pluginButtonContainer">
                    <div class="pluginButtonImage">
                        <button type="button"><i
                                class="pluginButtonIcon img sp_plugin-button-2x sx_plugin-button-2x_favblue"></i>
                        </button>
                    </div>
                    <span class="pluginButtonLabel">Share</span></div>
            </div>
        </div>
    </a>

</div>