<div>
    <a ng-click="openPopup();"
       class="facebookShare ng-isolate-scope">

        <div class="facebookButton">
            <div class="pluginButton">
                <div class="pluginButtonContainer">

                    <div class="pluginButtonImage">
                        <button type="button">
                            <i class="pluginButtonIcon img sp_plugin-button-2x sx_plugin-button-2x_favblue"></i>
                        </button>
                    </div>
                    <span class="pluginButtonLabel">Share</span>
                </div>
            </div>
        </div>
    </a>

    <a facebook
       class="facebookShare"
       data-url="http://lynk-test.herokuapp.com/business/{{getInfo().publication.businessId}}/publication/{{getInfo().publication.id}}">
    </a>

    <a facebook-feed-share
       class="facebookShare"
       data-url='http://lynk-test.herokuapp.com/business/{{getInfo().publication.businessId}}/publication/{{getInfo().publication.id}}'
       data-caption="www.gling.be"
       data-picture="{{getIllustration() | image}}"
       data-name="{{getInfo().publication.title}}"
       data-description="{{getInfo().publication.description}}">
    </a>
</div>