<div class="modal-header">
    <button class="gling-button-dark glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">{{'--.customer.editInterestModal.title' | translateText}}</h4>
</div>
<div class="modal-body modal-login" >

    <customer-interest-form-ctrl ng-info="customerInterestParam"></customer-interest-form-ctrl>


</div>
<div class="modal-footer">
    <button ng-disabled="loading"
            id="edit-customer-interest-btn-save"
            type="button"
            class="btn gling-button-dark"
            ng-click="save()">
        {{'--.generic.save' | translateText}}
    </button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading"/>
</div>