<div class="form">

    <div class="business-category" ng-class="{'disabled' : isDisabled()}">

        <div class="panel panel-default">
            <div class="panel-heading">{{'--.businessCategory.column.category' | translateText}}</div>
            <div class="panel-body">
                <button
                        ng-disabled="isDisabled()"
                        ng-repeat="category in categories"
                     class="category-box"
                     ng-class="{'category-selected':selectedCategory == category}"
                     ng-click="select(category)">
                    {{category.translationName | translateText}}
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{{'--.businessCategory.column.subcategory' | translateText}}</div>
            <div class="panel-body">
                <button
                        ng-repeat="subcategory in subcategories"
                        ng-disabled="isDisabled()"
                        class="category-box"
                        ng-class="{'subcategory-selected':subselectedCategory == subcategory}"
                        ng-click="selectSubcategory(subcategory)">
                    {{subcategory.translationName | translateText}}
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{{'--.businessCategory.column.subsubcategory' | translateText}}</div>
            <div class="panel-body">
                <button
                        ng-repeat="subsubcategory in subsubcategories"
                        ng-disabled="isDisabled()"
                        class="category-box"
                        ng-class="{'subsubcategory-selected':subsubselectedCategory.contains(subsubcategory)}"
                        ng-click="selectSubSubcategory(subsubcategory)">
                    {{subsubcategory.translationName | translateText}}
                </button>
            </div>
        </div>
    </div>
</div>