.publication-list

    //- empty result message
    div(ng-show="loading!=true && publications.length == 0")
        | {{'--.list.nothing' | translateText}}

    //-publication
    .publication-box.publication-box-without-business-data(ng-repeat="publication in publications",
                     id="publication{{publication.id}}",
                     ng-click="click()")

        div(ng-class="{'publication-followed':publication.following === true,'archived': isArchived(publication)}")

            div
                //- badge
                .publication-badge(ng-show="publication.type === 'PROMOTION' ")
                    | - {{publication.offPercent * 100 | number:0}}%

                .publication-header-without-business-version

                    //- interest
                    i.publication-interest.gling-icon.publication-color-background(ng-show="getInterestClass(publication)!=null",ng-class="getInterestClass(publication)")

                    //- price
                    .publication-bubble.publication-box-price.publication-bordered(ng-show="publication.type=='PROMOTION' && publication.originalPrice!=null")
                        span {{(publication.originalPrice * (1.0 - publication.offPercent)) | number:2}} €
                        span {{publication.originalPrice | number:2}} €
                    span.publication-main-title
                        |   {{publication.title}}

                .publication-body
                    .publication-data(ng-class="{'publication-body-two':publication.pictures.length>0}",ng-hide="descriptionIsEmpty(publication) === true")

                        //- end date
                        .publication-data-header(ng-show="publication.type === 'PROMOTION'",ng-class="{'publication-bordered-bottom' : publication.description !=null && publication.description.length > 0}")
                            .glyphicon.gling-icon.gling-icon-calendar

                            span
                                div {{'--.publication.promotionTo' | translateText}}
                                div &lt; {{publication.endDate | date:'dd MMM yyyy HH:mm'}}

                        //- description
                        .publication-data-body(ng-show="publication.description !=null && publication.description.length > 0")
                            span(ng-bind-html="publication.description | text : publication.descriptionLimit")

                            span.link(ng-show="publication.description.length > descriptionLimitBase && publication.descriptionLimit==descriptionLimitBase",ng-click="publication.descriptionLimit = 10000")
                                | {{'--.textReuction.seeMore' | translateText}}
                            span.link(ng-show="publication.description.length > descriptionLimitBase && publication.descriptionLimit!=descriptionLimitBase",ng-click="publication.descriptionLimit = descriptionLimitBase")
                                | {{'--.textReuction.seeLess' | translateText}}

                    //- gallery

                    //- picture 2
                    .publication-gallery.publication-body-two.publication-body-two-right(ng-show="publication.pictures.length > 1 && descriptionIsEmpty(publication) === true",ng-click="openGallery(publication.pictures[1],publication)")

                        img(ng-src="{{publication.pictures[1] | image}}",class="{{getIllustrationClass(publication.pictures[1])}}")

                        .publication-illustration-plus-icon(ng-show="publication.pictures.length>2")
                            span +{{publication.pictures.length - 2}}

                    //- picture 1
                    .publication-gallery(ng-class="{'publication-body-two':descriptionIsEmpty(publication) !== true,'publication-body-two-right':descriptionIsEmpty(publication) !== true}",ng-show="publication.pictures.length > 0 ",ng-click="openGallery(publication.pictures[0],publication)")

                        img(ng-src="{{publication.pictures[0] | image}}",class="{{getIllustrationClass(publication.pictures[0])}}")

                        .publication-illustration-plus-icon(ng-show="publication.pictures.length > 1 && descriptionIsEmpty(publication) !== true")
                            span +{{publication.pictures.length - 1}}

                .publication-footer

                    //- remove publication
                    button.btn.gling-button-dark(ng-show="getInfo().displayRemoveIcon",type="button",style="margin-left: 25px",ng-click="removePublication(publication)")
                        | {{'--.generic.remove' | translateText}}

                    //- edit publication
                    button.btn.gling-button-dark(ng-show="getInfo().displayRemoveIcon",type="button",style="margin-left: 25px",ng-click="editPublication(publication)")
                        | {{'--.generic.edit' | translateText}}


                    .publication-footer-date.publication-bordered-bottom
                        | {{'--.publication.publishTo' | translateText}} {{publication.startDate | date:'dd MMM yyyy'}}

                    .publication-footer-facebook
                        facebook-share-publication-ctrl(ng-info="{businessId:publication.businessId,publicationId:publication.id}")

        //- archived label
        img.archived-icon(ng-show="isArchived(publication)",src="/assets/images/publication/archived.png")

    //- loading icon
    .loading(ng-show="loading===true")
        img(src="/assets/images/big_loading.gif")