<div class="input-text field_text row field-image-multiple"
     ng-class="{'error' : displayError()===true,'has-calculator': getInfo().hasCalculator===true}"
     ng-hide="isActive() === false">
    <div class="form-group row">
        <label class="control-label col-md-3" ng-show="getInfo().fieldTitle">
            {{getInfo().fieldTitle |translateText}}
        </label>

        <div ng-class="getInfo().fullSize==true?'col-md-12':'col-md-6'">
            <div ng-class="{'input-group':!!getInfo().money}">
                <!--<div ng-show="inDownload=== true &amp;&amp; percent != 100" class="field-image-multiple-progress-bar">-->
                <!--<div ng-style="style">-->
                <!--<spa></spa>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div ng-show="inDownload=== true && percent != 100" class="field-image-multiple-progress-percentage">-->
                <!--{{percent}} %-->
                <!--</div>-->
                <!--<div ng-show="inDownload=== true && percent == 100">{{'--.field.document.inTreatment' |-->
                <!--translateText}}-->
                <!--</div>-->
                <!--<span class="btn btn-default btn-file field-image-multiple-btn"-->
                <!--ng-hide="inDownload === true || getInfo().disabled()">-->
                <!--{{'--.download.button.add' | translateText}}-->

                <!--</span>-->

                <!--<div ng-show="success && getInfo().disabled()!=true">{{'--.field.document.success' | translateText}}-->
                <!--</div>-->

                <div ng-repeat="imageContainer in images"
                     class="image-block-container">
                    <div class="image-block">
                        <div ng-show="imageContainer.percent>0 && imageContainer.percent < 100">
                            {{imageContainer.percent}} %
                        </div>

                        <div class="image-container">
                            <img ng-src="{{imageContainer.image| image}}"/>
                        </div>

                        <div class="image-remove glyphicon glyphicon-remove"
                             ng-click="remove(imageContainer)">
                        </div>

                    </div>
                    {{'--.generic.comment' | translateText}}
                    <textarea ng-model="imageContainer.image.comment"></textarea>

                </div>
                <div class="add-image-button image-block">
                    <input name="{{ id }}"
                           type="file"
                           ng-file-select="onFileSelect($files)"
                            />
                </div>
            </div>
        </div>
        <div class="col-md-3 errors" ng-show="displayError()===true">{{getInfo().validationMessage | translateText}}
        </div>
    </div>
</div>
