<div class="publication-list">

    <!-- empty result message -->
    <div ng-show="loading!=true && publications.length == 0">
        {{'--.list.nothing' | translateText}}
    </div>

    <!-- publication -->
    <div ng-repeat="publication in publications"
         id="publication{{publication.id}}"
         class="publication-box"
         ng-click="click()">

        <div ng-class="{'publication-followed':publication.following === true,'archived': isArchived(publication)}">

            <div>
                <!-- badge -->
                <div class="publication-badge"
                     ng-show="publication.type === 'PROMOTION'">
                    - {{publication.offPercent * 100 | number:0}}%
                </div>

                <div class="publication-header-without-business-version">

                    <!-- interest -->
                    <i ng-show="getInterestClass(publication)!=null"
                       class="publication-interest gling-icon {{getInterestClass(publication)}} publication-color-background">
                    </i>

                    <!-- price -->
                    <div class="publication-bubble publication-box-price  publication-bordered"
                         ng-show="publication.type=='PROMOTION' && publication.originalPrice!=null">
                        <span>{{(publication.originalPrice * (1.0 - publication.offPercent)) | number:2}} €</span>
                        <span>{{publication.originalPrice | number:2}} €</span>
                    </div>
                    <span style="margin-right: 80px;" class="publication-main-title">{{publication.title}}</span>
                </div>

                <div class="publication-body">
                    <div class="publication-data"
                         ng-class="{'publication-body-two':publication.pictures.length>0}"
                         ng-hide="descriptionIsEmpty(publication) === true">

                        <div ng-show="publication.type === 'PROMOTION'"
                             ng-class="{'publication-bordered-bottom' : publication.description !=null && publication.description.length > 0}"
                             class="publication-data-header">
                            <div class="glyphicon gling-icon gling-icon gling-icon-calendar"></div>

                            <span>
                                <div>{{'--.publication.promotionTo' | translateText}}</div>
                                <div>
                                    &lt; {{publication.endDate | date:'dd MMM yyyy HH:mm'}}
                                </div>
                            </span>
                        </div>
                        <div class="publication-data-body"
                             ng-show="publication.description !=null && publication.description.length > 0">
                            <span ng-bind-html="publication.description | text : publication.descriptionLimit"></span>

                            <span ng-show="publication.description.length > descriptionLimitBase && publication.descriptionLimit==descriptionLimitBase"
                                  ng-click="publication.descriptionLimit = 10000"
                                  class="link">{{'--.textReuction.seeMore' | translateText}}</span>
                            <span ng-show="publication.description.length > descriptionLimitBase && publication.descriptionLimit!=descriptionLimitBase"
                                  ng-click="publication.descriptionLimit = descriptionLimitBase"
                                  class="link">{{'--.textReuction.seeLess' | translateText}}</span>
                        </div>

                    </div>

                <!-- gallery -->

                <!-- picture 2 -->
                <div class="publication-gallery publication-body-two publication-body-two-right"
                     ng-show="publication.pictures.length > 1 && descriptionIsEmpty(publication) === true"
                     ng-click="openGallery(publication.pictures[1],publication)">

                    <img ng-src="{{publication.pictures[1] | image}}"
                         class="{{getIllustrationClass(publication.pictures[1])}}">

                    <div
                            class="publication-illustration-plus-icon">
                        <span>+{{publication.pictures.length - 2}}</span>
                    </div>
                </div>

                <!-- picture 1 -->
                <div class="publication-gallery"
                     ng-class="{'publication-body-two':descriptionIsEmpty(publication) !== true,'publication-body-two-right':descriptionIsEmpty(publication) !== true}"
                     ng-show="publication.pictures.length > 0 "
                     ng-click="openGallery(publication.pictures[0],publication)">

                    <img ng-src="{{publication.pictures[0] | image}}"
                         class="{{getIllustrationClass(publication.pictures[0])}}">

                    <div ng-show="publication.pictures.length > 1 && descriptionIsEmpty(publication) !== true"
                         class="publication-illustration-plus-icon">
                        <span>+{{publication.pictures.length - 1}}</span>
                    </div>
                </div>

            </div>
                <div class="publication-footer">

                    <!-- remove publication -->
                    <button
                            ng-show="getInfo().displayRemoveIcon"
                            type="button"
                            style="margin-left: 25px"
                            class="btn gling-button-dark"
                            ng-click="removePublication(publication)">
                        {{'--.generic.remove' | translateText}}
                    </button>

                    <!-- edit publication -->
                    <button
                            ng-show="getInfo().displayRemoveIcon"
                            type="button"
                            style="margin-left: 25px"
                            class="btn gling-button-dark"
                            ng-click="editPublication(publication)">
                        {{'--.generic.edit' | translateText}}
                    </button>


                    <div class="publication-footer-date publication-bordered-bottom">
                        {{'--.publication.publishTo' | translateText}} {{publication.startDate | date:'dd MMM yyyy'}}
                    </div>

                    <div class="publication-footer-facebook">
                        <facebook-share-publication-ctrl
                                ng-info="{businessId:publication.businessId,publicationId:publication.id}">
                        </facebook-share-publication-ctrl>
                    </div>
                </div>
            </div>

        </div>

        <!-- archived label -->
        <img class="archived-icon"
             ng-show="isArchived(publication)"
             src="/assets/images/publication/archived.png"/>

    </div>

    <!-- loading icon -->
    <div ng-show="loading===true" class="loading">
        <img src="/assets/images/big_loading.gif"/>
    </div>


</div>