<div class="input-text field_text row field-image-multiple"
     ng-class="{'error' : displayError()===true,'has-calculator': getInfo().hasCalculator===true}"
     ng-hide="isActive() === false">

    <div class="modal-description"  ng-show="getInfo().help!=null">{{getInfo().help | translateText}}</div>



    <div class="form-group">
        <label class="control-label col-md-3" ng-show="getInfo().fieldTitle">
            {{getInfo().fieldTitle |translateText}}
        </label>

        <div ng-class="getInfo().fullSize==true?'col-md-12':'col-md-6'">
            <div ng-class="{'input-group':!!getInfo().money}">

                <div ng-repeat="imageContainer in images"
                     class="image-block-container">
                    <div class="image-block">
                        <div ng-show="imageContainer.percent>0 && imageContainer.percent < 100">
                            {{imageContainer.percent}} %
                        </div>

                        <div class="image-container">
                            <img ng-src="{{imageContainer.image}}"/>
                        </div>

                        <div class="image-remove glyphicon glyphicon-remove"
                             ng-click="remove(imageContainer)">
                        </div>

                    </div>
                    <button ng-click="fullSize(imageContainer.image)">Voir en taille réelle</button>
                    <button ng-click="resize(imageContainer)">Recadrer</button>
                    {{'--.generic.comment' | translateText}}
                    <textarea ng-model="imageContainer.comment"></textarea>

                </div>
                <div class="add-image-button image-block"
                        ng-hide="getInfo().maxImage!=null && images.length>=getInfo().maxImage">


                    <input id="a"
                           type="file"
                           ng-file-select="onFileSelect($files)"
                            />
                </div>
            </div>
        </div>
        <div class="col-md-3 errors" ng-show="displayError()===true">
            {{getInfo().validationMessage | translateText}}
        </div>
    </div>
</div>
