<div>

    <div class="navigation-bar"
         ng-class="{'header-with-advanced-search':advancedSearch}">


        <div class="container header-option-container">

            <h1 style="cursor : pointer"
                id="welcome-btn-welcome"
                class="gling-icon gling-icon-logoapp button-with-label"
                ng-click="goToHome()">
                <p>{{'--.headerBar.logo.label'}}</p>
            </h1>

            <!-- BETA -->
            <img
                    style="margin-top: -10px;"
                    src="/assets/images/beta.png"/>

            <!-- seach bar -->
            <search-bar-ctrl ng-info="{mobile:false}"></search-bar-ctrl>


            <!-- position choice -->
            <!--<i class="header-locaton-icon gling-icon gling-icon-location"></i>-->
            <select
                    class="gling-button-light"
                    ng-model="currentPosition"
                    ng-options="position.key as position.translation | translateText for position in positions"
                    style="display: inline-block;width: 150px">
            </select>


            <!-- not connected menu -->
            <div class="profile-buttons-container" ng-show="accountService.getMyself()==null">
                <!-- lang -->
                <select class="gling-button-light"
                        ng-model="languageService.currentLanguage"
                        ng-options="lang.code as lang.language for lang in languageService.languages">
                </select>
                <button
                        type="button"
                        id="welcome-btn-login"
                        class="gling-button"
                        ng-click="login()">
                    {{'--.welcome.login' | translateText}}
                </button>
            <span>
                {{'--.generic.or' | translateText}}
            </span>
                <button
                        type="button"
                        class="gling-button"
                        id="welcome-btn-registration"
                        ng-click="registration()">
                    {{'--.welcome.signIn' | translateText}}
                </button>
            </div>

            <!-- connected menu -->
            <div class="profile-buttons-container"
                 ng-show="accountService.getMyself()!=null" style="display : inline-block">
                <div class="dropdown" ng-show="accountService.getMyself()!=null" style="display : inline-block">

                    <!-- connection button -->
                    <div class="menu-connection-button-container">
                        <div class="menu-connection-name">
                            {{accountService.getMyself().firstname}}
                        </div>

                        <div class="gling-icon gling-icon-profil menu-connection-icon"
                             data-toggle="dropdown"
                             id="dropdownMenu1"
                             aria-expanded="true">
                            <span></span>
                        </div>

                        <!-- connected menu -->
                        <ul class="dropdown-menu dropdown-menu-right"
                            role="menu"
                            aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="" ng-click="navigateTo('/profile')"
                                   id="welcome-btn-profile">
                                    {{'--.welcome.myProfile' | translateText}}
                                </a>
                            </li>

                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="" ng-click="logout()" id="welcome-btn-logout">
                                    {{'--.generic.logout' | translateText}}
                                </a>
                            </li>
                            <li>
                                <ul></ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- navigation bar -->
            <div class="navigation-bar-menu">

                <a href="/test" class="gling-button-dark">
                    {{'--.welcome.welcome' | translateText}}
                </a>

                <a href="/" class="gling-button-dark">
                    {{'--.welcome.newsfeed' | translateText}}
                </a>

                <a href="/map" class="gling-button-dark">
                    {{'--.welcome.map' | translateText}}
                </a>
                <a ng-show="accountService.getMyself()!=null"
                   class="gling-button-dark"
                   href="/my-businesses">
                    {{'--.welcome.myBusinesses' | translateText}}
                </a>
                <a ng-show="accountService.getMyself()!=null && accountService.getMyself().type == 'BUSINESS'"
                   class="gling-button-dark"
                   href="/business/{{accountService.getMyself().businessId}}">
                    {{'--.welcome.myBusiness' | translateText}}
                </a>
                <a style="float: right"
                   href="/welcome/"
                   class="gling-button-dark">
                    {{'--.welcome.about' | translateText}}
                </a>
            </div>

        </div>
    </div>
</div>