<div class="footer-bar">

    <span>Gling copyright 2015</span>
    <a href="https://www.facebook.com/gling.be" target="_blank">
        <img src="/assets/images/facebook/login_icon.png"/>
    </a>
    <a href="/legal/" target="_blank">{{'--.footer.legal' | translateText}}</a>
    <a href="#" ng-click="openContactForm('CONTACT')">{{'--.footer.contact' | translateText}}</a>
    <a href="#" ng-click="openContactForm('SAV')">{{'--.footer.help' | translateText}}</a>
    <a href="/welcome/" >{{'--.footer.aboutGling' | translateText}}</a>
</div>