<div class="footer-bar">

    <a href="/legal/" target="_blank">{{'--.footer.legal' | translateText}}</a>
    <a href="#" ng-click="openContactForm('HELP')">{{'--.footer.help' | translateText}}</a>
    <a href="#" ng-click="openContactForm('CONTACT')">{{'--.footer.contact' | translateText}}</a>
    <a href="https://www.facebook.com/gling.be" target="_blank">
        <img src="/assets/images/facebook/login_icon.png"/>
    </a>
    <span style="float: right;font-size: 12px;">Gling © 2015</span>
</div>