<div class="business-info">
    <div class="business-panel">

        <!-- name -->
        <div class="business-name">{{business.name}}</div>

        <!-- illustration -->
        <img class="business-illustration" ng-src="business.ilustration.link"/>

        <!-- description -->
        <div class="business-description">{{business.description}}</div>

        <!-- categories -->
        <div class="business-categories">
            <div ng-repeat="category in business.businessCategories" class="business-category">
                {{category.translationName | translateText}}
            </div>
        </div>

        <!-- schedule -->
        <schedule-ctrl ng-info="scheduleParam"></schedule-ctrl>
    </div>
    <div class="business-panel">

        <!-- map -->
        <div class="business-map">
            insert google map here
        </div>

        <!-- address -->
        <div class="business-address">
            <div>{{business.address.street}}</div>
            <div>{{business.address.zip}}</div>
            <div>{{business.address.city}}</div>
        </div>

        <!-- last publication -->
        <div class="business-last-publication">
            how to implement directive in function of publication type
        </div>
    </div>

</div>