.follow-widget
    .icon-text(ng-hide="getInfo().displayText===true")
        div  {{'--.followWidget.follow' | translateText:null:true}}

    .follow-widget-icon(ng-hide="getInfo().displayText===true",ng-click="follow()")

        button
            span.gling-icon.gling-icon-bell.selected(ng-show="getInfo().business.following")
            span.gling-icon.gling-icon-bell2(ng-hide="getInfo().business.following")



    button.gling-button-dark.gling-button-dark-little.follow-text(ng-show="getInfo().displayText===true",ng-click="follow()")
        div(ng-hide="getInfo().business.following")
            i.gling-icon.gling-icon-bell2
            span {{'--.followWidget.follow' | translateText}}
        div(ng-show="getInfo().business.following")
            i.gling-icon.gling-icon-bell
            span {{'--.followWidget.stopFollow' | translateText}}