<div>You are the administrator of this page. You can edit it</div>
<div>Edit display : <input type="checkbox" ng-model="editDisplay" ng-show="edit"></div>
<div class="business-page">
    <div class="business-page-header"
         ng-style="{'background-image':business.landscape.link }">

        <!-- landscape -->
        <button class="btn btn-primary glyphicon glyphicon-edit"
                ng-show="editDisplay"
                ng-click="editLandscape()">
        </button>

        <!-- illustration -->
        <div class="business-page-illustration-container">
            <img class="business-illustration" ng-src="{{business.illustration.link}}"/>
            <button class="btn btn-primary glyphicon glyphicon-edit btn-sm"
                    ng-show="editDisplay"
                    ng-click="editIllustration()">
            </button>
        </div>

        <!-- name -->
        <div class="business-page-name">
            <button class="btn btn-primary glyphicon glyphicon-edit"
                    ng-show="editDisplay"
                    ng-click="editName()">
            </button>
            {{business.name}}
        </div>

    </div>
    <div class="business-page-body">

        <!-- categoru -->
        <table class="category-tree">
            <tr ng-repeat="(catLev1Key,lev2) in business.categories">
                <td>
                    <a ng-click="searchCat(catLev1Key)"> {{catLev1Key | translateText}} </a> <span class="transition">>></span>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="(catLev2Key, lev3) in lev2">
                            <td>
                                <a ng-click="searchCat(catLev2Key)"> {{catLev2Key | translateText}}</a> <span class="transition">>></span>
                            </td>
                            <td>
                                <span ng-repeat="catLev3 in lev3">
                                    <span class="transition" ng-show="$index>0">/</span>
                                    <a ng-click="searchCat(catLev3)">{{catLev3.translationName | translateText}} </a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td ng-show="editDisplay">
                    <button class="btn btn-primary glyphicon glyphicon-edit"
                            ng-click="editCategory()">{{'generic.edit' | translateText}}
                    </button>
                </td>
            </tr>
        </table>

        <!-- publication -->
        <div class="business-page-body-center">
            Dernières publications

        </div>


        <div class="business-page-body-right">

            <!-- address -->
            <div class="panel panel-default">
                <div class="panel-heading">{{'--.generic.address' | translateText}}</div>
                <div class="panel-body">

                    <div ng-click="toGoogleMap()">
                        <ui-gmap-google-map
                                center='map.center'
                                refresh="true"
                                dragging='false'
                                options="{disableDefaultUI:true,
                            draggable:false}"
                                zoom='15'>

                            <ui-gmap-marker
                                    idKey='1'
                                    coords='{latitude:business.address.posx,longitude:business.address.posy}'
                                    >
                            </ui-gmap-marker>

                        </ui-gmap-google-map>
                    </div>

                    <div class="business-address">
                        <div>{{business.address.street}}, {{business.address.zip}}, {{business.address.city}}</div>
                        <div>Distance:{{business.distance / 1000 | number:2}} Km</div>
                    </div>
                    <button class="btn btn-primary glyphicon glyphicon-edit"
                            ng-show="editDisplay"
                            ng-click="editAddress()">{{'generic.edit' | translateText}}
                    </button>
                </div>
            </div>

            <!-- schedule -->
            <div class="panel panel-default">
                <div class="panel-heading">{{'--.business.profile.businessSchedule' | translateText}}</div>
                <div class="panel-body">

                    <schedule-ctrl ng-info="{dto:business.schedules}"></schedule-ctrl>

                    <button class="btn btn-primary glyphicon glyphicon-edit"
                            ng-show="editDisplay"
                            ng-click="editName()">{{'generic.edit' | translateText}}
                    </button>
                </div>
            </div>


        </div>
    </div>

</div>