<div class="content-block" ng-controller="BusinessRegistrationCtrl">


    <div class="temp-box">
        {{'--.business.registration.title' | translateText}}
        <div>
            <button class="btn btn-default" ng-click="businessRegistration()">{{'--.business.registration.newBusiness' |
                translateText}}
            </button>
        </div>
        <div>
            <button class="btn btn-default" ng-click="login()">{{'--.business.registration.oldBusiness' |
                translateText}}
            </button>
        </div>
        <div>
            <button class="btn btn-default" ng-click="navigateTo('/')">{{'--.generic.back' | translateText}}</button>
        </div>
    </div>

</div>