<to-top-ctrl></to-top-ctrl>

<!-- management part -->
<div ng-show="myBusiness === true" class="panel panel-gling business-management">

    <div class="management-block">
        <h4>{{'--.business.page.management.title' | translateText}}

        <span style="float: right">
            {{'--.business.page.management.status' | translateText}}
            <span ng-class="'business-status-'+business.businessStatus"></span>
            {{'--.business.status.'+business.businessStatus | translateText}}
        </span>
        </h4>

        <div>{{'--.business.page.edit.description' | translateText}}</div>
    </div>

    <div class="management-block">

        <h4>{{'--.business.manager.progress.createPublicationTitle' | translateText}}</h4>

        <button id="business-btn-promotion-add"
                class="btn btn-primary"
                ng-click="createPromotion()"
                ng-disabled="business.businessStatus !== 'PUBLISHED'">
            {{'--.business.publication.btn.promotion' | translateText}}
        </button>
        <button class="btn btn-primary"
                ng-click="createNotification()"
                ng-disabled="business.businessStatus !== 'PUBLISHED'">
            {{'--.business.publication.btn.notification' | translateText}}
        </button>
    </div>

    <div ng-hide="business.businessStatus==='PUBLISHED'">
        {{'--.business.manager.createPublication.disabled.desc' | translateText}}
    </div>


    <div>
        <div style="width: 49%;display: inline-block;vertical-align: top" class="business-management-progress">

            <h4>{{'--.business.management.progression' | translateText}}</h4>

            <div class="business-management-progress-bar">
                <div ng-style="{'width':(300 * (computeProgression()/6))+'px'}">
                </div>
                <span>{{computeProgression()}} / 6</span>
            </div>

            <span>{{'--.business.management.progression.desc' | translateText}}</span><br/><br/>

            <!-- description -->
            <div class="business-management-progress-el">
                <input type="checkbox"
                       ng-checked="business.description!=null"/>
            <span ng-class="{'completed':business.description!=null}"
                  ng-click="editbusiness()"
                  class="link">
                {{'--.business.manager.progress.add.description' | translateText}}
            </span>
            </div>

            <!-- illustration -->
            <div class="business-management-progress-el">
                <input type="checkbox" ng-checked="business.illustration!=null"/>
            <span ng-class="{'completed':business.illustration!=null}"
                  ng-click="editIllustration()"
                  class="link">
                {{'--.business.manager.progress.add.illustration' | translateText}}
            </span>
            </div>

            <!-- landscape -->
            <div class="business-management-progress-el">
                <input type="checkbox" ng-checked="business.landscape!=null"/>
            <span ng-class="{'completed':business.landscape!=null}"
                  ng-click="editLandscape()"
                  class="link">
                {{'--.business.manager.progress.add.landscape' | translateText}}
            </span>
            </div>

            <!-- gallery -->
            <div class="business-management-progress-el">
                <input type="checkbox" ng-checked="business.galleryPictures.length>0"/>
            <span ng-class="{'completed':business.galleryPictures.length>0}"
                  ng-click="editGallery()"
                  class="link">
                {{'--.business.manager.progress.add.gallery' | translateText}}
            </span>
            </div>

            <!-- social -->
            <div class="business-management-progress-el">
                <input type="checkbox"
                       ng-checked="displaySocialNetwork()"/>
            <span ng-class="{'completed':displaySocialNetwork()}"
                  ng-click="editSocialNetwork()"
                  class="link">
                {{'--.business.manager.progress.add.socialNetwork' | translateText}}

            </span>
            </div>


            <!-- schedule -->
            <div class="business-management-progress-el">
                <input type="checkbox"
                       ng-checked="displaySchedule()"/>
            <span ng-class="{'completed':displaySchedule()}"
                  ng-click="editSchedule()"
                  class="link">
                {{'--.business.manager.progress.add.schedule' | translateText}}
            </span>
            </div>

        </div>
        <div style="width: 49%;display: inline-block;vertical-align: top">

            <h4>Changer de status</h4>

            <div class="management-block">
                <p>
                <span ng-show="business.businessStatus === 'NOT_PUBLISHED'">
                    {{'--.business.page.edit.description.notPublished' |translateText}}
                </span>
                <span ng-show="business.businessStatus === 'WAITING_CONFIRMATION'">
                    {{'--.business.page.edit.description.waitConfirmation' | translateText}}
                </span>
                <span ng-show="business.businessStatus === 'PUBLISHED'">
                    {{'--.business.page.edit.descriptionPublished' |translateText}}
                </span>
                    <button ng-show="business.businessStatus === 'NOT_PUBLISHED'"
                            ng-click="publish()"
                            id="business-btn-publish"
                            class="btn btn-primary">
                        {{'--.business.page.publication' | translateText}}
                    </button>

                    <button ng-show="business.businessStatus === 'WAITING_CONFIRMATION'"
                            ng-click="cancelPublishRequest()"
                            class="btn btn-primary">
                        {{'--.business.page.cancelPublishRequest' | translateText}}
                    </button>

                    <button ng-show="business.businessStatus === 'PUBLISHED'"
                            ng-click="stopPublish()"
                            class="btn btn-primary">
                        {{'--.business.page.stopPublication' | translateText}}
                    </button>
                </p>
            </div>
            <h4>{{'--.business.page.management.help.title' | translateText}}</h4>
            <a class="btn btn-primary" class="btn btn-primary" href="/help/business/data" target="_blank">
                {{'--.business.manager.progress.help' | translateText}}
            </a>
            <button class="btn btn-primary" ng-click="openContact()">
                {{'--.business.page.management.contact.btn' | translateText}}
            </button>
        </div>
    </div>
</div>


<!-- show edit buttons or not -->
<div class="onoffswitch-container" ng-show="myBusiness === true">
    <div>{{'--.business.page.edit.editSwitchDisplay' | translateText}}</div>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitchFromBusiness"
               checked
               ng-model="edit">
        <label class="onoffswitch-label" for="myonoffswitchFromBusiness">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <div>{{'--.business.page.edit.editSwitchEdit' | translateText}}</div>
</div>

<div class="business-page">
    <div class="business-page-header">
        <div class="business-page-header-landscape editable-element"
             ng-style="{'background-image':'url('+(business.landscape | image)+')' }">

            <!-- landscape -->
            <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                    id="business-btn-landscape-edit"
                    ng-show="edit"
                    ng-click="editLandscape()">
            </button>

            <!-- illustration -->
            <div class="business-page-illustration-container editable-element">
                <img class="business-illustration" ng-src="{{business.illustration | image}}"/>
                <button class="btn btn-primary btn-xs glyphicon glyphicon-edit btn-sm"
                        id="business-btn-illustration-edit"
                        ng-show="edit"
                        ng-click="editIllustration()">
                </button>
            </div>

            <!-- name -->
            <div class="business-page-name editable-element">
                <span>
                    {{business.name}}
                </span>

                <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                        id="business-btn-name-edit"
                        ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                        ng-click="editbusiness()">
                </button>
            </div>
        </div>

        <div class="business-page-bottom">

            <div class="business-right-column">
                <!-- description -->
                <div class="business-page-description">

                    <!-- categoru -->
                    <category-line-ctrl ng-info="categoryLineParams"></category-line-ctrl>

                    <button ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                            id="business-btn-category-edit"
                            class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            ng-click="editCategory()">{{'--.generic.edit' | translateText}}
                    </button>

                    <!-- description -->
                <span>
                    {{business.description}}
                </span>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            ng-show="edit"
                            ng-click="editbusiness()">
                        {{'--.business.page.edit.business' | translateText}}
                    </button>
                </div>
            </div>


            <!-- follow  TODO TEMP-->
            <follow-widget-ctrl ng-info="{business:business}"></follow-widget-ctrl>


        </div>

    </div>
    <div class="business-page-body">


        <div class="business-page-body-center">


            <!-- publication -->
            <div>
                <select ng-model="publicationListParam.type"
                        ng-options="option.key as option.value | translateText for option in publicationOptions">
                </select>

                <publication-list-for-business-ctrl
                        ng-info="publicationListParam"></publication-list-for-business-ctrl>

            </div>
        </div>


        <div class="business-page-body-right">


            <!-- gallery -->
            <div class="panel panel-gling"
                 ng-show="edit === true || (business.galleryPictures !=null && business.galleryPictures.length > 0)">
                <div class="panel-heading">{{'--.business.gallery' | translateText}}</div>
                <div class="panel-body">


                    <gallery-ctrl ng-info="{images:business.galleryPictures}"></gallery-ctrl>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            id="welcome-btn-gallery-edit"
                            ng-show="edit"
                            ng-click="editGallery()">
                    </button>
                </div>
            </div>

            <!-- address -->
            <div class="panel panel-gling">
                <div class="panel-heading">{{'--.generic.address' | translateText}}</div>
                <div class="panel-body">

                    <google-map-widget-ctrl ng-info="googleMapParams">
                    </google-map-widget-ctrl>

                    <div class="business-address">
                        <div>{{business.address.street}}, {{business.address.zip}}, {{business.address.city}}</div>
                        <div>{{business.distance / 1000 | number:2}} Km</div>
                    </div>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            id="business-btn-address-edit"
                            ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                            ng-click="editAddress()">
                    </button>
                </div>
            </div>


            <!-- contact -->
            <div class="panel panel-gling">
                <div class="panel-heading">
                    {{'--.generic.contact' | translateText}}
                </div>
                <div class="panel-body">

                    <div id="welcome-contact-data-phone">
                        {{business.phone}}
                    </div>
                    <div>
                        <a href="{{business.website}}" target="_blank"
                           id="welcome-contact-data-website">
                            {{business.website}}
                        </a>
                    </div>
                    <div id="welcome-contact-data-email">
                        {{business.email}}
                    </div>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            id="business-btn-contact-edit"
                            ng-show="edit"
                            ng-click="editbusiness()">
                    </button>

                </div>
            </div>

            <!-- social network -->
            <div class="panel panel-gling business-social-panel"
                 ng-show="edit === true || displaySocialNetwork()">
                <div class="panel-heading">{{'--.generic.socialNetwork' | translateText}}</div>
                <div class="panel-body">


                    <div ng-show="!!business.socialNetwork.facebookLink" class="business-social-network-box">
                        <a id="welcome-link-facebook"
                           href="{{business.socialNetwork.facebookLink}}"
                           title="Facebook"
                           target="_blank">
                            <img src="/assets/images/social_network/facebook.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.twitterLink" class="business-social-network-box">
                        <a id="welcome-link-twitter"
                           href="{{business.socialNetwork.twitterLink}}"
                           title="Twitter"
                           target="_blank">
                            <img src="/assets/images/social_network/twitter.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.instagramLink" class="business-social-network-box">
                        <a id="welcome-link-instagram"
                           href="{{business.socialNetwork.instagramLink}}"
                           title="Instagram"
                           target="_blank">
                            <img src="/assets/images/social_network/instagram.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.deliveryLink" class="business-social-network-box">
                        <a id="welcome-link-delivery"
                           href="{{business.socialNetwork.deliveryLink}}"
                           title="{{'--.business.socialNetwork.delivery' | translateText}}"
                           target="_blank">
                            <img src="/assets/images/social_network/delivery.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.reservationLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.reservationLink}}"
                           title="{{'--.business.socialNetwork.reservation' | translateText}}"
                           target="_blank">
                            <img src="/assets/images/social_network/reservation.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.opinionLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.opinionLink}}"
                           title="{{'--.business.socialNetwork.opinion' | translateText}}"
                           target="_blank">
                            <img src="/assets/images/social_network/opinion.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.ecommerceLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.ecommerceLink}}"
                           title="{{'--.business.socialNetwork.ecommerce' | translateText}}"
                           target="_blank">
                            <img src="/assets/images/social_network/e_commerce.png">
                        </a>
                    </div>

                    <br/>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            ng-show="edit"
                            id="business-btn-social-network-edit"
                            ng-click="editSocialNetwork()">
                    </button>

                </div>
            </div>

            <!-- schedule -->
            <div class="panel panel-gling" ng-show="edit === true || displaySchedule()">
                <div class="panel-heading">{{'--.business.profile.businessSchedule' | translateText}}</div>
                <div class="panel-body">

                    <schedule-ctrl ng-info="{dto:business.schedules}"></schedule-ctrl>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            id="business-btn-schedule-edit"
                            ng-show="edit"
                            ng-click="editSchedule()">
                    </button>
                </div>
            </div>


        </div>
    </div>

</div>