<div ng-show="myBusiness === true">

    <div ng-show="business.businessStatus === 'NOT_PUBLISHED'">{{'--.business.page.edit.description.notPublished' |
        translateText}}
    </div>
    <div ng-show="business.businessStatus === 'WAITING_CONFIRMATION'">
        {{'--.business.page.edit.description.waitConfirmation' | translateText}}
    </div>
    <div ng-show="business.businessStatus === 'PUBLISHED'">{{'--.business.page.edit.descriptionPublished' |
        translateText}}
    </div>

    <!-- show edit buttons or not -->
    <div class="onoffswitch-container">
        <div>{{'--.business.page.edit.editSwitchDisplay' | translateText}}</div>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitchFromBusiness"
                   checked
                   ng-model="edit">
            <label class="onoffswitch-label" for="myonoffswitchFromBusiness">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <div>{{'--.business.page.edit.editSwitchEdit' | translateText}}</div>
    </div>

    <button ng-show="business.businessStatus === 'NOT_PUBLISHED'"
            ng-click="publish()"
            class="btn btn-primary">
        {{'--.business.page.publication' | translateText}}
    </button>

    <button ng-show="business.businessStatus === 'WAITING_CONFIRMATION'"
            ng-click="cancelPublishRequest()"
            class="btn btn-primary">
        {{'--.business.page.cancelPublishRequest' | translateText}}
    </button>

    <button ng-show="business.businessStatus === 'PUBLISHED'"
            ng-click="stopPublish()"
            class="btn btn-primary">
        {{'--.business.page.stopPublication' | translateText}}
    </button>
</div>
<div class="business-page">
    <div class="business-page-header"
         ng-style="{'background-image':'url('+(business.landscape | image)+')' }">

        <!-- landscape -->
        <div class="edit-button-container landscape-edit">
            <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                    ng-show="edit"
                    ng-click="editLandscape()">
                {{'--.business.page.edit.landscape' | translateText}}
            </button>
        </div>

        <!-- illustration -->
        <div class="business-page-illustration-container">
            <img class="business-illustration" ng-src="{{business.illustration | image}}"/>

            <div class="edit-button-container">
                <button class="btn btn-primary btn-xs glyphicon glyphicon-edit btn-sm"
                        ng-show="edit"
                        ng-click="editIllustration()">
                    {{'--.business.page.edit.illustration' | translateText}}
                </button>
            </div>
        </div>

        <!-- name -->
        <div class="business-page-name">
            <span>
                {{business.name}}
            </span>
            <div class="edit-button-container">
                <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                        id="business-btn-name-edit"
                    ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                    ng-click="editbusiness()">
                    {{'--.business.page.edit.business' | translateText}}
                </button>
            </div>
        </div>

    </div>
    <div class="business-page-body">

        <div class="business-page-body-center">

            <!-- categoru -->
            <category-line-ctrl ng-info="categoryLineParams"></category-line-ctrl>

            <button ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                    class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                    ng-click="editCategory()">{{'--.generic.edit' | translateText}}
            </button>

            <!-- description -->
            <div class="business-page-description">
                <span>
                    {{business.description}}
                </span>
                <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                        id="business-btn-category-edit"
                        ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                        ng-click="editbusiness()">
                    {{'--.business.page.edit.business' | translateText}}
                </button>
            </div>

            <!-- publication -->
            <div>


                <select ng-model="publicationListParam.type"
                        ng-options="option.key as option.value | translateText for option in publicationOptions">
                </select>

                <button class="btn btn-primary"
                        ng-click="createPromotion()"
                        ng-show="edit && business.businessStatus === 'PUBLISHED'">
                    {{'--.business.publication.btn.promotion' | translateText}}
                </button>
                <button class="btn btn-primary"
                        ng-click="createNotification()"
                        ng-show="edit && business.businessStatus === 'PUBLISHED'">
                    {{'--.business.publication.btn.notification' | translateText}}
                </button>

                <publication-list-for-business-ctrl
                        ng-info="publicationListParam"></publication-list-for-business-ctrl>

            </div>
        </div>


        <div class="business-page-body-right">

            <!-- follow  TODO TEMP-->
            <div style="text-align: center;margin: 10px;">
                <button ng-click="follow()" class="follow-button">
                    <img src="/assets/images/haert.png" ng-show="business.following"/>
                    <img src="/assets/images/haert-off.png" ng-hide="business.following"/>
                </button>
                {{business.totalFollowers}}
            </div>

            <!-- gallery -->
            <div class="panel panel-default">
                <div class="panel-heading">{{'--.business.gallery' | translateText}}</div>
                <div class="panel-body">


                    <gallery-ctrl ng-info="{images:business.galleryPictures}"></gallery-ctrl>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            ng-show="edit"
                            ng-click="editGallery()">
                        {{'--.business.page.edit.gallery' | translateText}}
                    </button>
                </div>
            </div>

            <!-- address -->
            <div class="panel panel-default">
                <div class="panel-heading">{{'--.generic.address' | translateText}}</div>
                <div class="panel-body">

                    <google-map-widget-ctrl ng-info="googleMapParams">
                    </google-map-widget-ctrl>

                    <div class="business-address">
                        <div>{{business.address.street}}, {{business.address.zip}}, {{business.address.city}}</div>
                        <div>{{business.distance / 1000 | number:2}} Km</div>
                    </div>
                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            id="business-btn-address-edit"
                            ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                            ng-click="editAddress()">{{'--.generic.edit' | translateText}}
                    </button>
                </div>
            </div>


            <!-- contact -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'--.generic.contact' | translateText}}</div>
                <div class="panel-body">

                    <div id="welcome-contact-data-phone">
                        {{business.phone}}
                    </div>
                    <div>
                        <a href="{{business.website}}" target="_blank"
                           id="welcome-contact-data-website">
                            {{business.website}}
                        </a>
                    </div>
                    <div id="welcome-contact-data-email">
                        {{business.email}}
                    </div>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                            ng-click="editbusiness()">
                        {{'--.business.page.edit.business' | translateText}}
                    </button>

                </div>
            </div>

            <!-- social network -->
            <div class="panel panel-default business-social-panel"
                 ng-show="edit === true || business.facebookLink!=null || business.twitterLink!=null || business.googleplusLink!=null || business.foursquareLink!=null">
                <div class="panel-heading">{{'--.generic.socialNetwork' | translateText}}</div>
                <div class="panel-body">


                    <div ng-show="!!business.socialNetwork.facebookLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.facebookLink}}"
                           title="{{business.socialNetwork.facebookLink}}"
                           target="_blank">
                            <img src="/assets/images/social_network/facebook.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.twitterLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.twitterLink}}"
                           title="{{business.socialNetwork.twitterLink}}"
                           target="_blank">
                            <img src="/assets/images/social_network/twitter.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.instagramLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.instagramLink}}"
                           title="{{business.socialNetwork.instagramLink}}"
                           target="_blank">
                            <img src="/assets/images/social_network/instagram.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.deliveryLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.deliveryLink}}"
                           title="{{business.socialNetwork.deliveryLink}}"
                           target="_blank">
                            <img src="/assets/images/social_network/delivery.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.reservationLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.reservationLink}}"
                           title="{{business.socialNetwork.reservationLink}}"
                           target="_blank">
                            <img src="/assets/images/social_network/reservation.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.opinionLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.opinionLink}}"
                           title="{{business.socialNetwork.opinionLink}}"
                           target="_blank">
                            <img src="/assets/images/social_network/opinion.png">
                        </a>
                    </div>

                    <div ng-show="!!business.socialNetwork.ecommerceLink" class="business-social-network-box">
                        <a href="{{business.socialNetwork.ecommerceLink}}"
                           title="{{business.socialNetwork.ecommerceLink}}"
                           target="_blank">
                            <img src="/assets/images/social_network/e_commerce.png">
                        </a>
                    </div>

                    <br/>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            ng-show="edit"
                            ng-click="editSocialNetwork()">
                        {{'--.business.page.edit.business' | translateText}}
                    </button>

                </div>
            </div>

            <!-- schedule -->
            <div class="panel panel-default" ng-show="edit === true || displaySchedule()">
                <div class="panel-heading">{{'--.business.profile.businessSchedule' | translateText}}</div>
                <div class="panel-body">

                    <schedule-ctrl ng-info="{dto:business.schedules}"></schedule-ctrl>

                    <button class="btn btn-primary btn-xs glyphicon glyphicon-edit"
                            ng-show="edit"
                            ng-click="editSchedule()">{{'--.generic.edit' | translateText}}
                    </button>
                </div>
            </div>


        </div>
    </div>

</div>