<div class="content-block">


    <div class="row">
        {{'--.business.welcome.title' | translateText}}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">{{'--.generic.business' | translateText}}</div>
        <div class="panel-body">

            <business-form-ctrl ng-info="businessParam"></business-form-ctrl>

            <button class="btn btn-primary glyphicon glyphicon-edit" ng-show="businessParam.disabled"
                    ng-click="businessEdit()">{{'--.generic.edit' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="businessParam.disabled" ng-click="businessSave()">
                {{'--.generic.save' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="businessParam.disabled" ng-click="businessCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">{{'--.generic.address' | translateText}}</div>
        <div class="panel-body address-container">
            <div class="address-box">
                <div><span>{{'--.generic.street' | translateText}}</span>{{model.myself.business.address.street}}</div>
                <div><span>{{'--.generic.zip' | translateText}}</span>{{model.myself.business.address.zip}}</div>
                <div><span>{{'--.generic.city' | translateText}}</span>{{model.myself.business.address.city}}</div>
                <div><span>{{'--.generic.country' | translateText}}</span>{{model.myself.business.address.country}}
                </div>
            </div>
            <button class="btn btn-primary glyphicon glyphicon-edit"
                    ng-click="editAddress(model.myself.business.address)">
                {{'--.generic.edit' |
                translateText}}
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">{{'--.profile.businessCategory' | translateText}}</div>
        <div class="panel-body">

            <business-category-form-ctrl ng-info="businessCategoryParam"></business-category-form-ctrl>
            <button class="btn btn-primary glyphicon glyphicon-edit"
                    ng-show="businessCategoryParam.disabled"
                    ng-click="businessCategoryEdit()">
                {{'--.generic.edit' |translateText}}
            </button>
            <button class="btn btn-primary"
                    ng-hide="businessCategoryParam.disabled"
                    ng-click="businessCategorySave()">
                {{'--.generic.save' |
                translateText}}
            </button>
            <button class="btn btn-primary"
                    ng-hide="businessCategoryParam.disabled"
                    ng-click="businessCategoryCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">{{'--.business.profile.image' | translateText}}</div>
        <div class="panel-body">

            <dir-field-document ng-info="illustrationParam"></dir-field-document>

            <button class="btn btn-primary glyphicon glyphicon-edit" ng-show="illustrationDisable"
                    ng-click="illustrationEdit()">{{'--.generic.edit' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="illustrationDisable" ng-click="illustrationSave()">
                {{'--.generic.save' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="illustrationDisable" ng-click="illustrationCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">{{'--.business.profile.promotion' | translateText}}</div>
        <div class="panel-body">

            <button class="btn btn-primary" ng-click="addPromotion()">{{'--.business.welcome.addPromotion' |
                translateText}}
            </button>

            <promotion-ctrl
                    ng-repeat="promotion in promotions"
                    ng-info="{promotion:promotion,business:model.myself.business}">
            </promotion-ctrl>

        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">{{'--.business.profile.businessNotification' | translateText}}</div>
        <div class="panel-body">

            <button class="btn btn-primary" ng-click="addBusinessNotification()">
                {{'--.business.welcome.addBusinessNotification' |
                translateText}}
            </button>
            <div ng-repeat="businessNotification in businessNotifications"
                 style="border: 1px solid #006ee6;background-color: #007fff;padding:3px;margin: 3px;color: #000000">
                <div>{{businessNotification .description}}</div>
                <div>{{businessNotification .startDate | date:'medium'}} => {{businessNotification .endDate |
                    date:'medium'}}
                </div>

                <button class="btn btn-primary glyphicon glyphicon-edit"
                        ng-click="editBusinessNotification(businessNotification )">
                    {{'--.generic.edit' |translateText}}
                </button>
                <button class="btn btn-primary glyphicon glyphicon-edit"
                        ng-click="deleteBusinessNotification(businessNotification )">
                    {{'--.generic.delete' |translateText}}
                </button>
            </div>

        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">{{'--.business.profile.businessSchedule' | translateText}}</div>
        <div class="panel-body">

            <schedule-form-ctrl ng-info="businessScheduleParam"></schedule-form-ctrl>


            <button class="btn btn-primary glyphicon glyphicon-edit"
                    ng-show="businessScheduleParam.disabled"
                    ng-click="businessScheduleEdit()">
                {{'--.generic.edit' |translateText}}
            </button>
            <button class="btn btn-primary"
                    ng-hide="businessScheduleParam.disabled"
                    ng-click="businessScheduleSave()">
                {{'--.generic.save' |translateText}}
            </button>
            <button class="btn btn-primary"
                    ng-hide="businessScheduleParam.disabled"
                    ng-click="businessScheduleCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>

        </div>
    </div>

</div>