<div class="followed-business">

    <div class="generic-inline-block">
        {{'--.generic.search'| translateText}}
    </div>
    <div class="generic-inline-block">
        <input class="form-control" type="text" ng-model="filter.$"/>
    </div>

    <div style="float: right">
        <a href="#" ng-click="checkAll(true)">{{'--.followed-business.checkAll' | translateText}}</a> / <a href="#" ng-click="checkAll(false)">{{'--.followed-business.uncheckAll' | translateText}}</a>
    </div>

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="business in $data">
            <td data-title="'--.followedBusiness.table.business' | translateText" sortable="'name'" class="first-cell">
                <img class="illustration"
                     ng-click="navigateTo('/business/'+business.id)"
                     ng-src="{{business.illustration | image}}"/>
                <div>
                    <span class="link" ng-click="navigateTo('/business/'+business.id)">{{business.name}}</span>
                    <br/>
                    <button class="btn btn-xs gling-button-dark"
                            ng-click="stopFollow(business)">{{'--.business.follow.stopFollowing' | translateText}}
                    </button>
                </div>
            </td>
            <td data-title="'--.followedBusiness.table.categories' | translateText">

                <span ng-repeat="(catLev1Key,lev2) in business.categories">
                    <span ng-repeat="(catLev2Key, lev3) in lev2">
                        <span ng-repeat="catLev3 in lev3">
                            {{catLev3.translationName |translateText}} /
                        </span>
                    </span>
                </span>

            </td>
            <td data-title="'--.followedBusiness.table.followingFrom' | translateText"
                sortable="'followingFrom'"
                style="text-align: center">
                {{business.followingFrom | date}}
            </td>
            <td data-title="'--.followedBusiness.table.notification' | translateText" sortable="'followingNotification'"
                style="text-align: center">
                <div>
                    <input ng-click="setNotification(business)"
                            type="checkbox"
                            ng-model="business.followingNotification">
                </div>
            </td>
        </tr>
    </table>


</div>