<div class="content-block">

    <to-top-ctrl></to-top-ctrl>

    <div class="help-div" ng-show="displaySharePositionAdvertissement() && openGeolocationPopup !== true">
        <button class="help-popup-close glyphicon glyphicon-remove"
                ng-click="openGeolocationPopup=true"></button>
        <p compile="'--.home.geolocation.notAccepted'">
        </p>

    </div>


    <div class="home-interest-box">

        <!-- switch -->
        <div>{{'--.home.interest-switch.help' | translateText}}</div>

        <div class="home-interest-switch home-interest-box-background">
            <div>
                <button class="gling-button gling-icon-location button-with-label home-interest"
                        ng-click="setFollowedMode(false)">
                    <p>{{'--.home.localisation.help' | translateText}}</p>
                </button>
            </div>
            <div>
                <div class="onoffswitch" ng-click="setFollowedMode()">
                    <label class="onoffswitch-label"
                           ng-class="{'followedMode':followedMode}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div>
                <button class="gling-button gling-icon-bell button-with-label home-interest"
                        ng-click="setFollowedMode(true)">
                    <p>{{'--.home.followning.help' | translateText}}</p>
                </button>
            </div>
        </div>
    </div>

    <!-- interest -->
    <div class="home-interest-box">


        <div>{{'--.home.interest.help' | translateText}}</div>


        <div class="home-interest-box-background">

            <button ng-click="left()"
                    class="gling-button home-interest home-interest-arrow gling-icon-arrow_left button-with-label"
                    ng-disabled="interestDisplayFirst <= 0">
                <p>{{'--.home.interest.arrow.label' | translateText}}</p>
            </button>

            <button class="gling-button home-interest button-with-label {{'gling-icon-' + interest.name}}"
                    ng-repeat="interest in interestDisplayed"
                    ng-show="interest.iconName!=null"
                    ng-click="searchByInterest(interest)"
                    ng-class="{'selected':interest.selected === true}">
                <p>{{interest.translationName}}</p>
            </button>

            <button ng-click="right()"
                    class="gling-button home-interest home-interest-arrow gling-icon-arrow_right button-with-label"
                    ng-disabled="interestDisplayFirst >= customerInterests.length - interestDisplayMax">
                <p>{{'--.home.interest.arrow.label' | translateText}}</p>
            </button>
        </div>


    </div>

    <!-- publication list -->
    <publication-list-ctrl ng-info="publicationListCtrl"
                           ng-hide="displayEmptyHelpMessage===true || displayEmptyHelpMessageWithInterest===true"></publication-list-ctrl>

    <!-- empty result help -->
    <div class="help-big" ng-show="displayEmptyHelpMessage===true">
        {{'--.home.emptyResult.help' | translateText}}
    </div>

    <div class="help-big" ng-show="displayEmptyHelpMessageWithInterest===true">
        {{'--.home.emptyResultWithInterest.help' | translateText}}
    </div>


    <!-- business list (in case of empty result -->
    <business-list-ctrl
            ng-info="businessListParam"
            ng-show="displayEmptyHelpMessage===true || displayEmptyHelpMessageWithInterest===true">
    </business-list-ctrl>


</div>