<div class="content-block map-page"
     style="margin-top: 100px;height:{{height}}px">


    <div class="map-content">

        <div class="option-panel"
             ng-class="{'option-panel-open-panel':displayFilters}">
            <button ng-click="displayFilters=!displayFilters">Filtre</button>
        </div>

        <div style="height:{{height}}px !important" id="map">
        </div>

        <div class="filter-panel"
             ng-show="displayFilters">

            <span class="filter-panel-close glyphicon glyphicon-remove"
                    ng-click="displayFilters=false"></span>

            <!-- folloing  -->
            <input type="checkbox" ng-model="filters.following">Uniquement les commerces suivi<br/>
            <input type="checkbox" ng-model="filters.open">Uniquement les commerces actuellement ouverts

            <h3>Intérêts</h3>
            <span class="link" ng-click="selectAllInterest(true)">Tout sélectionner</span> / <span class="link"
                                                                                                   ng-click="selectAllInterest(false)">Rien sélectionner</span>

            <div ng-repeat="interest in interests">
                <input type="checkbox" ng-model="interest.selected">
                <span class="{{'gling-icon gling-icon-' + interest.name}}"></span>
                {{interest.translationName}}
            </div>

        </div>
    </div>


</div>