//- header
.modal-header
    button.btn.glyphicon.glyphicon-remove(style='float:right', ng-click='close()')
    h4.modal-title {{business.name}} réclamation

//- body
.modal-body.modal-login.business-registration

    | Listes des personnes réclamant le commerce
    tabset
        tab(ng-repeat="claim in claims",active='claim.active')
            tab-heading
                | {{claim.account.firstname}} ({{claim.account.lastname}})
            table.table-basic
                tr
                    td nom
                    td {{claim.account.firstname}} {{claim.account.lastname}}
                tr
                    td email
                    td {{claim.account.email}}
                tr
                    td téléphone
                    td {{claim.phone}}
                tr
                    td tva
                    td {{claim.vta}}
                tr
                    td(colspan=2)
                        button.btn.gling-button-dark(ng-disabled='loading', type='button', ng-click='confirm(claim)')
                            | {{'--.generic.confirm' | translateText}}
                        img(src='/assets/images/modal-loading.gif', ng-show='loading')
