//- header
.modal-header
    button.btn.glyphicon.glyphicon-remove(style='float:right', ng-click='close()')
    h4.modal-title {{business.name}} réclamation

//- body
.modal-body.modal-login.business-registration

    | information sur la personne réclamant le commerce
    table.table-basic
        tr
            td nom
            td {{business.claimBusiness.account.firstname}} {{business.claimBusiness.account.lastname}}
        tr
            td email
            td {{business.claimBusiness.account.email}}
        tr
            td téléphone
            td {{business.claimBusiness.phone}}
        tr
            td tva
            td {{business.claimBusiness.vta}}

//footer
.modal-footer
    button.btn.gling-button-dark(ng-disabled='loading', type='button', ng-click='confirm()')
        | {{'--.generic.confirm' | translateText}}
    img(src='/assets/images/modal-loading.gif', ng-show='loading')
