<div ng-show="getInfo().display" class="search-result-box" dir-bottom-arrow="down()" dir-top-arrow="top()">
    <div
            ng-show="getInfo().result.businesses.length ==0 && getInfo().result.publications.length == 0 && getInfo().result.categories.length == 0"
            class="search-result-nothing">
        {{'--.search.nothing' | translateText}}
    </div>
    <div ng-hide="getInfo().result.businesses.length ==0 && getInfo().result.publications.length == 0 && getInfo().result.categories.length == 0">

        <!-- business -->
        <div ng-show="getInfo().result.businesses.length > 0">
            <div class="search-result-sub-title">
                <button ng-click="seeAllBusiness()"
                        class="search-result-show-more link search-result-sub-title-see-more">
                    {{'--.search.business.seeMore' | translateText}}
                </button>
                {{'--.search.business' | translateText}}
            </div>
            <div class="search-result-business search-result-content"
                 ng-click="navigateTo('business/'+business.id)"
                 ng-repeat="business in getInfo().result.businesses">
                <img ng-src="{{business.illustration | image}}"/>
                {{business.name}}
            </div>
        </div>

        <!-- category -->
        <div ng-show="getInfo().result.categories.length > 0">
            <div class="search-result-sub-title">{{'--.search.category' | translateText}}</div>
            <div class="search-result-category search-result-content"
                 ng-click="navigateTo('search/category:'+category.name)"
                 ng-repeat="category in getInfo().result.categories">
                {{category.category.translationName}}
                <span class="transition">>></span>
                {{category.subCategory.translationName}}
                <span class="transition">>></span>
                {{category.subSubCategory.translationName}}
            </div>
        </div>

        <!-- publication -->
        <div ng-show="getInfo().result.publications.length >0">
            <div class="search-result-sub-title">
                <button ng-click="seeAllPublication()"
                        class="search-result-show-more link search-result-sub-title-see-more">
                    {{'--.search.publication.seeMore' | translateText}}
                </button>
                {{'--.search.publication' | translateText}}
            </div>
            <div class="search-result-publication search-result-content"
                 ng-click="navigateTo(publication)"
                 ng-repeat="publication in getInfo().result.publications">
                <div class="search-result-publication-business">
                    <img ng-src="{{publication.businessIllustration | image}}"/>
                    {{publication.businessName}}
                </div>
                <img ng-src="{{publication.pictures[0] | image}}"/>
                {{publication.description}}
            </div>
        </div>
        <button ng-click="seeAll()" class="search-result-show-more link">
            {{'--.search.seeMore' | translateText}}
        </button>
    </div>
</div>