<div id="searchContainer" ng-show="getInfo().display" class="search-result-box" dir-bottom-arrow="down()"
     dir-top-arrow="top()">
    <div
            ng-show="getInfo().result.businesses.length ==0 && getInfo().result.publications.length == 0 && getInfo().result.categories.length == 0"
            class="search-result-nothing">
        {{'--.search.nothing' | translateText}}
    </div>
    <div ng-hide="getInfo().result.businesses.length ==0 && getInfo().result.publications.length == 0 && getInfo().result.categories.length == 0">

        <!-- business -->
        <div ng-show="getInfo().result.businesses.length > 0">
            <div class="search-result-sub-title">
                {{'--.search.business' | translateText}}
            </div>
            <div class="search-result-business search-result-content"
                 ng-mouseenter="select(business.index)"
                 ng-click="goToBusiness(business)"
                 ng-class="{'search-result-selected':indexSelected==business.index}"
                 ng-repeat="business in getInfo().result.businesses">
                <img ng-src="{{business.illustration | image}}"/>
                {{business.name}}
            </div>
            <div class="search-result-content"
                 ng-click="seeAllBusiness()"
                 ng-mouseenter="select(seeMoreBusinessIndex)"
                 ng-class="{'search-result-selected':indexSelected==seeMoreBusinessIndex}">
                <button class="search-result-show-more link">
                    {{'--.search.business.seeMore' | translateText}}
                </button>
            </div>
        </div>

        <!-- publication -->
        <div ng-show="getInfo().result.publications.length >0">
            <div class="search-result-sub-title">
                {{'--.search.publication' | translateText}}
            </div>
            <!--<div class="search-result-publication search-result-content"-->
            <!--ng-mouseenter="select(publication.index)"-->
            <!--ng-click="goToPublication(publication)"-->
            <!--ng-class="{'search-result-selected':indexSelected==publication.index}"-->
            <!--ng-repeat="publication in getInfo().result.publications">-->
            <!--<div class="search-result-publication-business">-->
            <!--<img ng-src="{{publication.businessIllustration | image}}"/>-->
            <!--{{publication.businessName}}-->
            <!--</div>-->
            <!--<img ng-src="{{publication.pictures[0] | image}}"/>-->
            <!--{{publication.title}}-->
            <!--</div>-->
            <!--<div-->
            <!--ng-click="seeAllPublication()"-->
            <!--ng-mouseenter="select(seeMorePublicationIndex)"-->
            <!--class="search-result-content"-->
            <!--ng-class="{'search-result-selected':indexSelected==seeMorePublicationIndex}">-->
            <!--<div class="search-result-show-more link">-->
            <!--{{'--.search.publication.seeMore' | translateText}}-->
            <!--</div>-->
            <!--</div>-->


            <table>
                <tr class="search-result-publication search-result-content"
                    ng-mouseenter="select(publication.index)"
                    ng-click="goToPublication(publication)"
                    ng-class="{'search-result-selected':indexSelected==publication.index}"
                    ng-repeat="publication in getInfo().result.publications">
                    <td>
                        <img ng-src="{{publication.pictures[0] | image}}"/>
                        {{publication.title}}
                    </td>
                    <td>
                        <div class="search-result-publication-business">
                            <img ng-src="{{publication.businessIllustration | image}}"/>
                            {{publication.businessName}}
                        </div>
                    </td>
                </tr>
            </table>
            <div
                    ng-click="seeAllPublication()"
                    ng-mouseenter="select(seeMorePublicationIndex)"
                    class="search-result-content"
                    ng-class="{'search-result-selected':indexSelected==seeMorePublicationIndex}">
                <div class="search-result-show-more link">
                    {{'--.search.publication.seeMore' | translateText}}
                </div>
            </div>

        </div>


        <!-- category -->
        <div ng-show="getInfo().result.categories.length > 0">
            <div class="search-result-sub-title">
                {{'--.search.category' | translateText}}
            </div>
            <div class="search-result-category search-result-content"
                 ng-mouseenter="select(category.index)"
                 ng-click="goToCategory(category)"
                 ng-class="{'search-result-selected':indexSelected==category.index}"
                 ng-repeat="category in getInfo().result.categories">
                {{category.category.translationName}}
                <span class="transition" ng-show="category.subCategory!=null">>></span>
                {{category.subCategory.translationName}}
                <span class="transition" ng-show="category.subSubCategory!=null">>></span>
                {{category.subSubCategory.translationName}}
            </div>
            <div ng-click="seeAllCategory()"
                 class="search-result-content"
                 ng-mouseenter="select(seeMoreCategoryIndex)"
                 ng-class="{'search-result-selected':indexSelected==seeMoreCategoryIndex}">
                <div
                        class="search-result-show-more link">
                    {{'--.search.category.seeMore' | translateText}}
                </div>
            </div>
        </div>

        <!-- see more -->
        <div class="search-result-content"
             ng-click="seeAll()"
             ng-mouseenter="select(seeMoreIndex)"
             ng-class="{'search-result-selected':indexSelected==seeMoreIndex}">
            <div class="search-result-show-more link">
                {{'--.search.seeMore' | translateText}}
            </div>
        </div>
    </div>
</div>