.business-page-follow {

    span {
        font-size: 14px;
        i{
            margin-left: 10px;
            font-size: 16px;
        }
    }
}

.business-mobile-page {

    .business-page-menu {

        padding: 5px;

        button {

            display: inline-block;
            font-size: 20px;
            padding: 10px 10px;
            margin-bottom: 2px;
            border-radius: 40px;
            font-weight: normal;
            margin-right: 10px;
            vertical-align: middle;

        }
    }

    .business-page-header {
        background-size: 150% auto;
        background-position-x: 50%;
        background-position-y: 50%;
        background-color: rgb(166, 161, 161);
        height: 150px;
        border-bottom: 1px solid grey;
        margin: auto;
        position: relative;

        .landscape-edit {
            position: absolute;
            bottom: 0px;
        }

        & > div {
            //            margin-top: 60px;
        }
        .business-page-illustration-container {
            vertical-align: top;
            width: 100px;
            display: inline-block;
            margin-top: 30px;
            margin-left: 20px;
            & > img {
                width: 80px;
                height: 80px;
                border: 2px solid white;
                border-radius: 20px;
            }
        }
        .business-page-name {
            margin-top: 50px;
            vertical-align: top;
            display: inline-block;
            font-size: 24px;
            color: white;
            text-shadow: 1px 1px black;
            font-weight: bold;

        }
    }
}