.publication-list-mobile {

    .illustration {
        border: 1px solid @color-grey;
        border-radius: 10px;
        overflow: hidden;
        width: 60px;
        height: 60px;
    }

    .publication-badge{
        background: url('/assets/images/publication_badge.png') no-repeat;
        padding: 10px 10px;
        /* border-radius: 10px; */
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        margin-right: 10px;
        height: 55px;
        width: 80px;
        background-size: 80px 40px;
    }

    .publication-title{
        font-weight: bold;
        padding-bottom: 5px;
    }

    .publication-data-body{
        border-top: 1px solid @color-blue-dark;
        padding: 3px 0px;
        margin: 5px 0px;
//        color: rgb(120, 120, 120);
    }

    .publication-illustration-plus-icon {
        border-radius: 40px;
        position: absolute;
        bottom: 4px;
        text-align: center;
        right: 4px;
        height: 60px;
        width: 60px;
        vertical-align: top;
        background-color: rgba(0,0,0, 0.5);
        span {
            color: @color-grey;
            font-size: 30px;
            line-height: 60px;
            font-weight: bold;
            margin: auto;
            vertical-align: middle;
            text-align: center;
        }
    }

    .publication-publication {

        .publication-gallery{
            position: relative;
            text-align: center;

        }

        .publication-gallery-image-box{
            position: relative;
            border: 1px solid @color-grey;
            border-radius: 10px;
            max-height: 200px;
            display: inline-block;
            overflow: hidden;

            img {
                max-height: 100%;
            }
        }
        background-color: #ffffff;
        padding: 4px;
        margin: 5px;
        -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);

        .publication-interest {
            background-color: @color-blue-dark;
            font-size: 1.2em;
            float: right;
            padding: 8px;
            border-radius: 30px;
            color: @color-white;
        }

        .publication-header {
            padding-bottom: 5px;

            .title-box {
                margin-left: 10px;
                .title{
                    font-size: 18px;
                    color: @color-blue-dark;
                    font-weight: bold;
                }
                .title-data{
                    font-size: 14px;
                    color: @color-grey-dark;
                }
            }

            & > *:nth-child(n+2) {
                margin-top: 10px;

            }

            & > * {
                display: inline-block;
                vertical-align: top;
            }
//            & > *:last-child {
//                float: right;
//                border: 1px solid @color-blue-dark;
//                padding: 2px 5px;
//                font-size: 14px;
//                margin-right: 10px;
//                color: @color-blue-dark;
//                border-radius: 10px;
//            }
        }

        .publication-data {
            .publication-data-promotion {
                width: 100%;
                border-top: 1px solid @color-blue-dark;
                padding: 5px;
                margin: 5px;
                font-size: 16px;
                font-weight: bold;
                color: @color-blue-dark;

                td{
                    width: 1em;
                    text-align: center;
                }

                .publication-box-price{
                    & > span:nth-child(2){
                        text-decoration: line-through;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }

//                & > *:first-child {
////                    background-color: @color-green-light;
////                    color: #ffffff;
////                    border-radius: 5px;
//                    padding: 5px;
//                }
//                & > *:nth-child(n+2) {
//                    font-size: 16px;
//                    font-weight: bold;
//                    color: @color-blue-dark;
//                }
//                & > * {
//                    display: inline-block;
//                    &:first-child {
//                        margin-right: 2px;
//                    }
//                }
            }
        }

        .publication-list-business-data {
            display: inline-block;
        }
    }

    .publication-footer {
        height: 20px;
        font-size: 14px;
        margin-top: 5px;
        .publication-footer-facebook {
            float: right;
            margin-right: 10px;
        }
        .publication-footer-date {
            float: right;
            padding-right: 15px;
        }

    }

    .archived{
        background-color: #ddd;
        &>div{
            opacity: 0.7;
        }
    }
}