<super-admin-menu-ctrl></super-admin-menu-ctrl>

<h1>Stats</h1>

<table class="admin_stat">
    <tr ng-repeat="(title, value) in stats">
        <td>{{title}}</td>
        <td>{{value}}</td>
    </tr>
</table>
<button ng-click="refreshStat()">Refrech</button>



<h1>User Details</h1>

<table class="admin_stat">
    <tr ng-repeat="userDetail in userDetails">
        <td>{{userDetail.creationDate | date}}</td>
        <td>{{userDetail.nbSessions}}</td>
    </tr>
</table>

<donut-chart-ctrl ng-info="nbSessionChartParam"></donut-chart-ctrl>

<button ng-click="refreshDetails()">Refrech</button>