<super-admin-menu-ctrl></super-admin-menu-ctrl>

<h1>Business (Total : {{businesses.length}})</h1>


<table ng-table="tableParams" class="table">
    <tr ng-repeat="business in $data">
        <td data-title="'--.generic.name' | translateText" sortable="'name'">
            {{business.name}}
        </td>
        <td data-title="'--.generic.status' | translateText" sortable="'businessStatus'">
            {{business.businessStatus}}
        </td>
        <td data-title="'Création'" sortable="'creationDate'">
            {{business.creationDate | date}}
        </td>
        <td data-title="'Followers'" sortable="'totalFollowers'">
            {{business.totalFollowers}}
        </td>
        <td data-title="'--.generic.action' | translateText" sortable="'businessStatus'">
            <button
                    ng-click="toBusiness(business.id)">
                {{'--.admin.business.toBusiness' | translateText}}
            </button>
            <button
                    name="admin-business-btn-confirm-publication"
                    ng-click="confirmPublication(business)"
                    ng-show="business.businessStatus == 'WAITING_CONFIRMATION' ">
                {{'--.admin.business.confirmPublication' | translateText}}
            </button>
        </td>
    </tr>
</table>

<Button ng-click="setDisplayMap()">Afficher la carte</Button>

<div ng-show="displayMap">
    <ui-gmap-google-map
            center='map.center'
            dragging='true'
            zoom='11'>

        <ui-gmap-marker
                ng-repeat="business in businesses"
                idKey='1'
                coords='{latitude:business.address.posx,longitude:business.address.posy}'
                >
            <ui-gmap-window>
                <div>{{business.name}}</div>
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>