<div class="schedule-form">

    <div class="modal-description">{{'--.business.schedule.edit.modal.description' | translateText}}</div>

    <div ng-show="startSection!=null"
         class="schedule-info"
            ng-style="infoStyle">{{selectedTiming}}</div>


    <div>
        <div class="schedule-form-radio">
            <div class="attendance-close"
                 id="schedule-edit-btn-attendance-close"
                 ng-click="selectAttendance('CLOSE')">
                <input type="radio" ng-model="attendance_selected" value="CLOSE"/>
                {{'--.schedule.closed' | translateText}}
            </div>
            <div class="attendance-light"
                 id="schedule-edit-btn-attendance-light"
                 ng-click="selectAttendance('LIGHT')">
                <input type="radio" ng-model="attendance_selected" value="LIGHT"/>
                {{'--.schedule.light' | translateText}}
            </div>

            <div class="attendance-moderate"
                 id="schedule-edit-btn-attendance-moderate"
                 ng-click="selectAttendance('MODERATE')">
                <input type="radio" ng-model="attendance_selected" value="MODERATE"/>
                {{'--.schedule.moderate' | translateText}}
            </div>

            <div class="attendance-heavy"
                 id="schedule-edit-btn-attendance-heavy"
                 ng-click="selectAttendance('IMPORTANT')">
                <input type="radio" ng-model="attendance_selected" value="IMPORTANT"/>
                {{'--.schedule.heavy' | translateText}}
            </div>
        </div>
        <!--Start-->
        <!--<select ng-model="startHour"-->
                <!--ng-options="option.key as option.value for option in openSchedules"/>-->
        <!--Stop-->
        <!--<select ng-model="stopHour"-->
                <!--ng-options="option.key as option.value for option in openSchedules"/>-->

        <table class="editable">
            <tr>
                <td></td>
                <td ng-repeat="hour in hours">
                    <div class="hour-block-info">
                        <div>
                            {{hour.text}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="day in days">
                <td>{{day}}</td>
                <td ng-repeat="section in sections[day]">
                    <button class="hour-block"
                            ng-class="attendance_class[section.attendance]"
                            ng-mousedown="select(day,section)"
                            ng-mouseover="progress($event,day,section)">
                    </button>
                </td>

            </tr>
        </table>

        <!--<clock-chart-ctrl ng-info="clockParam"></clock-chart-ctrl>-->
        <!--<clock-chart-ctrl ng-info="clockParamMin"></clock-chart-ctrl>-->
    </div>

</div>