<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 ng-show="update" class="modal-title">{{'--.businessNotification.modal.title.update' | translateText}}</h4>
    <h4 ng-hide="update" class="modal-title">{{'--.businessNotification.modal.title.create' | translateText}}</h4>
</div>
<div class="modal-body"   ng-style="getHeight()">
    <business-notification-form-ctrl ng-info="businessNotificationParam"></business-notification-form-ctrl>
</div>
<div class="modal-footer">
    <button ng-disabled="loading" type="button" class="btn btn-default" ng-click="close()">{{'--.generic.close' | translateText}}</button>
    <button ng-disabled="loading"
            id="promotion-modal-btn-save"
            type="button"
            class="btn btn-primary"
            ng-click="save(false)">
        {{'--.generic.save' | translateText}}
    </button>
    <button ng-disabled="loading"
            id="promotion-modal-btn-save-and-share"
            type="button"
            class="btn btn-primary"
            ng-click="save(true)">
        {{'--.publication.modal.publicAndShare' | translateText}}
    </button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading" />
</div>