<div>
    <div class="town-business-list"
         ng-show="elementToDisplay === 'list'">

        <h3>Les commerces de votre commune.</h3>

        <div class="search-box">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
                <input ng-model="search"
                       type="text"
                       class="form-control"
                       placeholder="Par nom, adresse, type,..."
                       aria-describedby="basic-addon1">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      style="pointer-events: visible;cursor: pointer;"
                      ng-show="search.length > 0"
                      ng-click="search = ''">

                </span>
            </div>
        </div>

        Cliquer sur les images pour obtenir plus d'information
        <br/>

        <div>

            <div class="town-business-list-element"
                 ng-hide="business.visible === false"
                 ng-repeat="business in businesses"
                 ng-click="selectBusiness(business)">

                <img ng-src="{{business.illustration | image}}"/>

                <div class="town-business-list-element-data">
                    <div class="business-name">{{business.name}}</div>
                    <div class="address">{{business.address.street}}</div>
                </div>
            </div>
        </div>

        <div ng-show="loading === true">
            <img src="https://www.gling.be/assets/images/modal-loading.gif" ng-show="loading"/>
        </div>

        <div ng-show="loading == false && emptyResult()">Aucun résultat ne correspond à votre recherche</div>

    </div>
    <div ng-show="elementToDisplay === 'businessDetails'">

        <div>
            <button
                    ng-click="backToList()"
                    class="btn gling-button-dark glyphicon glyphicon-chevron-left">
                Retourner à la liste des commerces
            </button>
        </div>

        <div class="town-business-details">
            <div class="town-business-details-left">

                <div class="town-business-details-header">
                    <img ng-src="{{selectedBusiness.illustration | image}}"/>

                    <div>
                        <div class="business-header-name">{{selectedBusiness.name}}</div>
                        <div class="business-header-details">
                            {{selectedBusiness.address.street}}<br/>
                            {{selectedBusiness.phone}}<br/>
                            <a href="mailto:{{selectedBusiness.email}}">{{selectedBusiness.email}}</a>
                        </div>
                    </div>
                </div>
                <category-line-ctrl ng-info="{categories:selectedBusiness.categories}"></category-line-ctrl>
                <div class="business-description">{{selectedBusiness.description}}</div>
            </div>

            <div class="town-business-details-right">
                <schedule-ctrl ng-info="{dto:selectedBusiness.schedules}"></schedule-ctrl>
                <publication-list-for-town-ctrl
                        ng-info="{businessId:selectedBusiness.id}"></publication-list-for-town-ctrl>
            </div>
        </div>


    </div>

</div>