<div class="content-block" ng-controller="BusinessWelcomeCtrl">


    <div class="row">
        {{'--.business.welcome.title' | translateText}}
    </div>

    <div class="custom-panel" style="width: 500px">
        <h4>{{'--.generic.business' | translateText}}</h4>

        <div>

            <business-form-ctrl ng-info="businessParam"></business-form-ctrl>

            <button class="btn btn-primary glyphicon glyphicon-edit" ng-show="businessParam.disabled"
                    ng-click="businessEdit()">{{'--.generic.edit' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="businessParam.disabled" ng-click="businessSave()">
                {{'--.generic.save' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="businessParam.disabled" ng-click="businessCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>
        </div>
    </div>


    <div class="custom-panel">
        <h4>{{'--.generic.address' | translateText}}</h4>

        <div class="address-container">
            <div class="address-box">
                <div><span>{{'--.generic.street' | translateText}}</span>{{model.myself.business.address.street}}</div>
                <div><span>{{'--.generic.zip' | translateText}}</span>{{model.myself.business.address.zip}}</div>
                <div><span>{{'--.generic.city' | translateText}}</span>{{model.myself.business.address.city}}</div>
                <div><span>{{'--.generic.country' | translateText}}</span>{{model.myself.business.address.country}}
                </div>
            </div>
            <button class="btn btn-primary glyphicon glyphicon-edit"
                    ng-click="editAddress(model.myself.business.address)">
                {{'--.generic.edit' |
                translateText}}
            </button>
        </div>
    </div>

    <div class="custom-panel">
        <h4>{{'--.business.profile.businessCategory' | translateText}}</h4>

        <business-category-form-ctrl ng-info="businessCategoryParam"></business-category-form-ctrl>
    </div>


    <div class="custom-panel">
        <h4>{{'--.business.profile.image' | translateText}}</h4>

        <div>

            <download-form-ctrl ng-info="imageParam"></download-form-ctrl>

            <button class="btn btn-primary glyphicon glyphicon-edit" ng-show="imageParam.disabled"
                    ng-click="imageEdit()">{{'--.generic.edit' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="imageParam.disabled" ng-click="imageSave()">
                {{'--.generic.save' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="imageParam.disabled" ng-click="imageCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>
        </div>
    </div>




    <div class="custom-panel">
        <h4>{{'--.business.profile.promotion' | translateText}}</h4>


        <div>
            <button class="btn btn-primary" ng-click="addPromotion()">{{'--.business.welcome.addPromotion' |
                translateText}}
            </button>

            <div ng-repeat="promotion in promotions" style="border: 1px solid #006ee6;background-color: #007fff;padding:3px;margin: 3px;color: #000000">
                <div>{{promotion.quantity}} {{promotion.unit}} of {{promotion.description}}</div>
                <div>{{promotion.price}} € <span ng-show="promotion.minimalQuantity!=1">(min : {{promotion.minimalQuantity}} {{promotion.unit}})</span></div>
                <div>{{promotion.startDate | date:'medium'}} => {{promotion.endDate | date:'medium'}}</div>

                <button class="btn btn-primary glyphicon glyphicon-edit" ng-show="businessParam.disabled"
                        ng-click="editPromotion(promotion)">{{'--.generic.edit' |translateText}}
                </button>
            </div>

        </div>
    </div>

</div>