<div class="content-block" ng-controller="BusinessWelcomeCtrl">


    <div class="row">
        {{'--.business.welcome.title' | translateText}}
    </div>

    <div class="custom-panel" style="width: 500px">
        <h4>{{'--.generic.business' | translateText}}</h4>

        <div>

            <business-form-ctrl ng-info="businessParam"></business-form-ctrl>

            <button class="btn btn-primary glyphicon glyphicon-edit" ng-show="businessParam.disabled"
                    ng-click="businessEdit()">{{'--.generic.edit' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="businessParam.disabled" ng-click="businessSave()">
                {{'--.generic.save' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="businessParam.disabled" ng-click="businessCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>
        </div>
    </div>


    <div class="custom-panel">
        <h4>{{'--.generic.address' | translateText}}</h4>

        <div class="address-container">
            <div class="address-box">
                <div><span>{{'--.generic.street' | translateText}}</span>{{model.myself.business.address.street}}</div>
                <div><span>{{'--.generic.zip' | translateText}}</span>{{model.myself.business.address.zip}}</div>
                <div><span>{{'--.generic.city' | translateText}}</span>{{model.myself.business.address.city}}</div>
                <div><span>{{'--.generic.country' | translateText}}</span>{{model.myself.business.address.country}}
                </div>
            </div>
            <button class="btn btn-primary glyphicon glyphicon-edit"
                    ng-click="editAddress(model.myself.business.address)">
                {{'--.generic.edit' |
                translateText}}
            </button>
        </div>
    </div>

    <div class="custom-panel">
        <h4>{{'--.business.profile.businessCategory' | translateText}}</h4>

        <business-category-form-ctrl ng-info="businessCategoryParam"></business-category-form-ctrl>
    </div>


    <div class="custom-panel">
        <h4>{{'--.business.profile.image' | translateText}}</h4>

        <download-form-ctrl ng-info="imageParam"></download-form-ctrl>

        <div>

            <button class="btn btn-primary glyphicon glyphicon-edit" ng-show="imageParam.disabled"
                    ng-click="imageEdit()">{{'--.generic.edit' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="imageParam.disabled" ng-click="imageSave()">
                {{'--.generic.save' |
                translateText}}
            </button>
            <button class="btn btn-primary" ng-hide="imageParam.disabled" ng-click="imageCancel()">
                {{'--.generic.cancel' | translateText}}
            </button>
        </div>
    </div>

</div>