<div class="image-tool">

    <div class="image-tool-container"
         style="width:{{canvasWidth + 50}}px;height:{{canvasHeight}}px;">

        <div class="overlay"
             style="width:{{canvasWidth}}px;">
            <div class="overlay-inner">


                <div class="resize-container" ng-show="displayPicture === true">
                    <span class="resize-handle resize-handle-nw"></span>
                    <span class="resize-handle resize-handle-ne"></span>
                    <img class="resize-image" alt="image for resizing"/>
                    <span class="resize-handle resize-handle-se"></span>
                    <span class="resize-handle resize-handle-sw"></span>
                </div>

            </div>
        </div>
        <div style="width: 45px;">

            <div style="font-family: 'Glyphicons Halflings';"
                 class="menu-btn download-btn gling-button-dark glyphicon-upload">
                <input type='file' id="imgInp"/>
            </div>

            <button ng-disabled="displayPicture !== true" class="gling-button-dark js-crop menu-btn"
                    ng-click="zoom(true)">+
            </button>
            <button ng-disabled="displayPicture !== true" class="gling-button-dark js-crop menu-btn"
                    ng-click="zoom(false)">-
            </button>

            <button class="gling-button-dark js-crop glyphicon glyphicon-ok" ng-click="crop()">
            </button>
        </div>

    </div>
</div>