super-admin-menu-ctrl
h1 contacter les commerçants
| Sujet
br
input(ng-model='dto.subject', style='width:800px;')
br
br
| Message
br
textarea(ng-model='dto.message', style='width:800px;height:600px')
br
br
button(ng-click='send()') Envoyer
