.business-for-map
    img.business-illustration(ng-src="{{getInfo().business.illustration | image}}")
    i.gling-icon.gling-icon-bell(ng-show="getInfo().business.following === true")
    span.title {{getInfo().business.name}}
    category-line-ctrl(ng-info="{categories:getInfo().business.categories}")
        | {{getInfo().business.address.street}},
        | {{getInfo().business.address.zip}}
        | {{getInfo().business.address.city}}<br/>
    follow-widget-ctrl(ng-info="{displayText:true,business:getInfo().business}")<br/>
    span.link.see-more(ng-click="goTo('/business/'+getInfo().business.id)") Voir plus...