.business-for-map
    .business-header(ng-click="goTo('/business/'+getInfo().business.id)")
        img.business-illustration(ng-src="{{getInfo().business.illustrationName | image}}")
        i.gling-icon.gling-icon-bell(ng-show="getInfo().business.following === true")
        span.title {{getInfo().business.name}}
        span.currently-open(ng-show="getInfo().business.isOpen")
            | {{'--.schedule.isOpenNow' | translateText}}
    category-line-ctrl(ng-info="{categories:getInfo().business.categories,level1:false}")
    | {{getInfo().business.street}},
    | {{getInfo().business.zip}}
    br
    follow-widget-ctrl(ng-info="{displayText:true,business:getInfo().business}")