<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">{{'--.customer.registrationModal.title' | translateText}}</h4>
</div>
<div class="modal-body modal-login customer-registration" dir-enter="save()">


    <div class="modal-description">{{'--.customer.registrationModal.personal.desc' | translateText}}<br/>
        <span class="modal-login-link link" ng-click="toBusinessRegistration()">{{'--.registrationModal.toBusinessRegistration' | translateText}}</span>
    </div>


    <account-form-ctrl ng-info="accountParam"></account-form-ctrl>

    <table class="horizontal-split">
        <tr>
            <td>
                <div></div>
            </td>
            <td>{{'--.generic.or' | translateText}}</td>
            <td>
                <div></div>
            </td>
        </tr>
    </table>

    <div class="facebook-login-btn-container">
        <button ng-click="fb_login();" class="facebook-login-btn btn btn-primary">
            <img src="/assets/images/facebook/login_icon.png"/>
            <span>{{'--.registrationModal.facebook.btn' |translateText}}</span>
        </button>
    </div>


</div>
<div class="modal-footer">
    <button
            id="customer-registration-modal-btn-save"
            ng-disabled="loading" type="button" class="btn btn-primary" ng-click="save()">
        {{'--.generic.save' | translateText}}
    </button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading"/>
</div>