<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">{{'--.customer.registrationModal.title' | translateText}}</h4>
</div>
<div class="modal-body modal-login customer-registration" dir-enter="save()">

    <div class="wizard">
        <div ng-class="{'current':badgeSelected==1}"><span class="badge" ng-class="{'badge-inverse':badgeSelected==1}">1</span>
            {{'--.customer.registrationModal.personal.title' | translateText}}
        </div>
        <div ng-class="{'current':badgeSelected==2}"><span class="badge" ng-class="{'badge-inverse':badgeSelected==2}">2</span>
            {{'--.customer.registrationModal.interest.title' | translateText}}
        </div>
        <div ng-class="{'current':badgeSelected==3}"><span class="badge" ng-class="{'badge-inverse':badgeSelected==3}">3</span>
            {{'--.customer.registrationModal.personal.address' | translateText}}
        </div>
    </div>

    <div ng-show="badgeSelected==1">
        <div class="modal-description">{{'--.customer.registrationModal.personal.desc' | translateText}}<br/>
            <span class="modal-login-link link" ng-click="toBusinessRegistration()">{{'--.registrationModal.toBusinessRegistration' | translateText}}</span>
        </div>
        <account-form-ctrl ng-info="accountParam"></account-form-ctrl>

        <table class="horizontal-split">
            <tr>
                <td><div></div></td>
                <td>{{'--.generic.or' | translateText}}</td>
                <td><div></div></td>
            </tr>
        </table>

        <div class="facebook-login-btn-container">
            <button ng-click="fb_login();" class="facebook-login-btn btn btn-primary">
                <img src="/assets/images/facebook/login_icon.png"/>
                <span>{{'--.registrationModal.facebook.btn' |translateText}}</span>
            </button>
        </div>

    </div>
    <div ng-show="badgeSelected==2">
        <div class="modal-description">{{'--.customer.registrationModal.interest.desc' | translateText}}</div>
        <customer-interest-form-ctrl ng-info="customerInterestParam"></customer-interest-form-ctrl>
    </div>
    <div ng-show="badgeSelected==3">
        <div class="modal-description">{{'--.customer.registrationModal.address.desc' | translateText}}</div>
        <address-form-ctrl ng-info="addressFormParam"></address-form-ctrl>
    </div>




</div>
<div class="modal-footer">
    <button ng-show="badgeSelected!=1" style="float:left" ng-disabled="loading" type="button" class="btn btn-primary" ng-click="previous()">{{'--.generic.previous' | translateText}}</button>
    <button ng-show="badgeSelected!=1" ng-disabled="loading" type="button" class="btn btn-primary" ng-click="skip()">{{'--.generic.skip' | translateText}}</button>
    <button ng-show="badgeSelected!=3" ng-disabled="loading" type="button" class="btn btn-primary" ng-click="next()">{{'--.generic.next' | translateText}}</button>
    <button ng-show="badgeSelected==3"ng-disabled="loading" type="button" class="btn btn-primary" ng-click="save()">{{'--.generic.save' | translateText}}</button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading" />
</div>