.category_and_interest{
    table{
        background-color: #ffffff;
        tr{
            &:hover{
                background-color: #ccc;
            }
        }
        td{
          border: 1px solid #808080;
            padding: 5px;

        }
        td:nth-child(n+2){
            text-align: center;
        }
    }
}


.angular-google-map-container{
    height: 500px !important;
}