@import 'widget/_form';
@import 'widget/_cr-messenger';
@import 'widget/_field_date';
@import 'widget/_field_text';
@import 'widget/_input-text';
@import 'widget/_modal-login';
@import 'widget/_customer_interest_form';
@import 'widget/_wizard';
@import 'widget/_business-category';
@import 'widget/_customer_profile';
@import 'widget/_customer-registration';
@import 'widget/_business-registration';
@import 'widget/_field_image_multiple';
@import 'widget/_onoffswitch';
@import 'widget/_schedule';
@import 'widget/_business-page';
@import 'widget/mobile/_home-interest';
@import 'widget/_follow';
@import 'widget/_category-line';
@import 'widget/_facebook-login';
@import 'widget/_profile-page';
@import 'widget/mobile/_business-mobile-page';
@import 'widget/_messenger';
@import 'widget/_progress_bar';
@import 'widget/_followed-business';
@import 'widget/_toTop';
@import 'widget/_search-page';
@import 'widget/_footer-bar';
@import 'widget/_wizard-little';
@import 'widget/mobile/_mobile';
@import 'widget/mobile/_publication-list-mobile';
@import 'widget/mobile/_business-list-mobile';
@import 'widget/mobile/_followed-business-mobile';
@import 'widget/mobile/_search-mobile';
@import 'widget/mobile/_gallery-mobile';
@import 'widget/_constants';

body {
    color: @color-body-text;
    background-color: @color-body-bg;
    font-family: "myFont";
    font-size: 16px;
}

.app {
    background-color: @color-body-bg;
}

button {
    & > span {
        &.fa {

            font-size: 20px;
            vertical-align: top;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}

.modal-alert-content {
    .modal-dialog {
        margin-top: 200px;
    }
    &.modal-alert-content-error .modal-content {
        background-color: red;
        color: #ffffff;
    }
    &.modal-alert-content-success .modal-content {
        background-color: green;
        color: #ffffff;
    }
    &.modal-alert-content-info .modal-content {
        background-color: #0000ff;
        color: #ffffff;
    }
}

.loading-modal {

    .modal-dialog {
        width: 200px;
        margin: 100px auto;
    }
    .modal-body {
        text-align: center;
    }

}

.navbar {
    .nav-menu {
        margin-left: -10px;
    }
}

.navbar-absolute-top,
.navbar-absolute-top.navbar-app .btn {
    background-color: @color-blue-dark;
    color: #ffffff !important;

}

.welcome-header {
    background-image: url('/assets/images/welcome_page/bg.jpg');
    background-repeat: no-repeat;
    background-size: 200% auto;
    background-position-x: 50%;
    background-position-y: 50%;
    margin: -15px -15px 0px -15px;
    text-align: center;
    height: 200px;
    width: ~'calc(100% + 30px)';
    color: @color-green-light;

    & > div {

        .logo {
            display: inline-block;
            padding-top: 10px;
            font-size: 100px;
            color: @color-green-light;
        }
        p {
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            text-shadow: 2px 2px black;
            color: white;
        }
    }
}

.sidebar-left {
    background-color: @color-green-light;
}

.menuleft {

    h1 {
        color: #e9e9e9;
        padding: 15px;
        font-style: 28px;
        span {
            color: @color-green-light;
        }

    }

    left: -50%;
    position: fixed;
    top: 0;
    width: 70%;
    height: 100%;
    z-index: 1000;
    border-right: 1px solid #000;
    background-color: #e9e9e9;
    display: block;
    &.slide {
        left: 0;
    }
}

.slide, .hide {
    //    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    //    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 30%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}