@import 'widget/_wizard-little';
@import 'widget/_mobile';
@import 'widget/_publication-list-mobile';
@import 'widget/_search-mobile';

button {
    & > span {
        &.fa {

            font-size: 20px;
            vertical-align: top;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}