@import 'widget/_wizard-little';
@import 'widget/_mobile';
@import 'widget/_publication-list-mobile';
@import 'widget/_search-mobile';

button {
    & > span {
        &.fa {

            font-size: 20px;
            vertical-align: top;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}

.modal-alert-content {
    .modal-dialog{
        margin-top: 200px;
    }
    &.modal-alert-content-error .modal-content {
        background-color: red;
        color: #ffffff;
    }
    &.modal-alert-content-success .modal-content {
        background-color: green;
        color: #ffffff;
    }
    &.modal-alert-content-info .modal-content {
        background-color: #0000ff;
        color: #ffffff;
    }
}

.loading-modal{

    .modal-dialog{
        width: 200px;
        margin: 100px auto;
    }
    .modal-body{
        text-align: center;
    }

}