<div class="news-feed-list">

    <div>

        <div class="publication" ng-repeat="publication in publications">
            <div class="title">{{publication.businessName}}</div>
            {{publication.title}}
        </div>
    </div>

    <div>

        <div class="promotion" ng-repeat="promotion in promotions">
            <div><span class="title">{{promotion.businessName}}</span> -
                {{promotion.endDate | date:'dd MMM yyyy hh:mm'}}
            </div>
            {{promotion.title}}<span style="float: right" class="title">- {{(promotion.offPercent * 100) | number:0}} %</span>
        </div>

    </div>


</div>