<div class="news-feed-list">

    <div>

        <!-- publication list -->
        <a class="publication" ng-repeat="notification in notifications"
             href="http://www.shops1160.be/index.php/commerces/#/business/{{publication.businessId}}">
            <table>
                <tr>
                    <td rowspan="2">
                        <img ng-src="{{notification.businessIllustration | image}}"/>
                    </td>
                    <td class="title">
                        {{notification.businessName}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{notification.title}}
                    </td>
                </tr>
            </table>
        </a>
        <div ng-show="loading === true">
            <img src="https://www.gling.be/assets/images/modal-loading.gif" ng-show="loading"/>
        </div>
    </div>

    <div>

        <!-- promotion list -->
        <a class="promotion" ng-repeat="promotion in promotions"
           href="http://www.shops1160.be/index.php/commerces/#/business/{{promotion.businessId}}">
            <table>
                <tr>
                    <td rowspan="2">
                        <img ng-src="{{promotion.businessIllustration | image}}"/>
                    </td>
                    <td>
                        <span class="title">{{promotion.businessName}}</span> -
                        {{promotion.endDate | date:'dd MMM yyyy hh:mm'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{promotion.title}}<span style="float: right"
                                                 class="title">- {{(promotion.offPercent * 100) | number:0}} %</span>
                    </td>
                </tr>
            </table>
        </a>

        <div ng-show="loading === true">
            <img src="https://www.gling.be/assets/images/modal-loading.gif" ng-show="loading"/>
        </div>

    </div>


</div>