<super-admin-menu-ctrl></super-admin-menu-ctrl>


<div class="admin-business-page">

    <h1>Commerces</h1>

    <h2>Nouveaux commerces</h2>
    <table class="import-table">
        <tr>
            <td>Importer un nouveau commerce depuis une page facebook</td>
            <td>
                <input ng-disabled="importBusinessLoading === true"
                       type="text"
                       ng-model="importBusinessInput"
                       placeholder="Url de la page à importer"
                        />
            </td>
            <td>
                <button ng-disabled="importBusinessLoading === true" ng-click="importBusinessStart()">Importer !</button>
                <img src="/assets/images/modal-loading.gif" ng-show="importBusinessLoading === true"/>
            </td>
        </tr>
    </table>

    <h2>Listes des commerces Total : {{businesses.length}})</h2>
    <img src="/assets/images/modal-loading.gif" ng-show="businessListLoading === true"/>

    <button ng-click="displayMapFct(!displayMap)">Afficher la carte</button>

    <table ng-table="tableParams"
           class="table business-list-param"
            ng-show="businessListLoading===false">
        <tr ng-repeat="business in $data"
                ng-mouseover="startAnimation(business,true)"
                ng-mouseleave="startAnimation(business,false)">
            <td data-title="'--.generic.name' | translateText" sortable="'name'">
                {{business.name}}
            </td>
            <td data-title="'--.generic.status' | translateText" sortable="'businessStatus'">
                {{business.businessStatus}}
            </td>
            <td data-title="'Création'" sortable="'creationDate'">
                {{business.creationDate | date}}
            </td>
            <td data-title="'Followers'" sortable="'totalFollowers'">
                {{business.totalFollowers}}
            </td>
            <td data-title="'Email'" sortable="'email'">
                {{business.email}}
            </td>
            <td data-title="'Publication active/total'" sortable="'nbPublicationActive'">
                {{business.nbPublicationActive}} / {{business.nbPublication}}
            </td>
            <td data-title="'--.generic.action' | translateText" sortable="'businessStatus'">
                <button
                        ng-click="toBusiness(business.id)">
                    {{'--.admin.business.toBusiness' | translateText}}
                </button>
                <button
                        name="admin-business-btn-confirm-publication"
                        ng-click="confirmPublication(business)"
                        ng-show="business.businessStatus == 'WAITING_CONFIRMATION' ">
                    {{'--.admin.business.confirmPublication' | translateText}}
                </button>
            </td>
        </tr>
    </table>


    <div class="map-panel"
            ng-show="displayMap === true">
        <button ng-click="displayMap = !displayMap">Masquer la carte</button>
        <div>
            <map
                    center="{{mapData.center.latitude}}, {{mapData.center.longitude}}"
                    zoom="{{mapData.zoom}}"></map>
        </div>
    </div>
</div>