<super-admin-menu-ctrl></super-admin-menu-ctrl>

<div class="category_and_interest">

    Recherche<input ng-model="search"/>
<button ng-click="disabled = !disabled">Editer</button>

    <button ng-click="importTranslation()"
            ng-disabled="translationLoading === true">Réimporter les traductions
    </button>
    <img ng-show="translationLoading === true" src="/assets/images/modal-loading.gif" />

    <table>
        <tr>
            <td></td>
            <td ng-repeat="interest in interests">{{interest.name}}</td>
        </tr>
        <tr ng-repeat="category in getCategoryList()">
            <td>{{category.translationName | translateText}}</td>
            <td ng-repeat="interest in interests">
                <input ng-disabled="disabled" style="width:40px" value="{{getPriority(category,interest)}}" ng-blur="save($event,category,interest)"/>
            </td>
        </tr>


    </table>


</div>