<!-- header -->
<div class="navbar navbar-app navbar-absolute-top">

    <div class="navbar-brand navbar-brand-center">
        <input
                class="search-bar"
                type="text"
                placeholder="{{'--.generic.search' | translateText}}"/>

        <div
                class="glyphicon glyphicon-plus generic-cursor"
                ng-click="searchMore()">
        </div>
    </div>

    <div class="btn-group pull-left">
        <div class="btn btn-navbar">
            <div ui-toggle="uiSidebarLeft" class="nav-button">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>

<!-- body -->
<div class='app-body'>
    <div class='app-content'>

        <div class="body-mask"
                ng-show="displayMask"></div>

        <div class="scrollable">
            <div class="section scrollable-content">

                {{business.name}}

            </div>

        </div>
    </div>
</div>