<div class="navbar navbar-app navbar-absolute-top"
     ng-class="{'header-with-advanced-search':advancedSearch}">


    <div class="btn-group pull-left">
        <div class="btn btn-navbar" ng-click="back()">
            <div class="nav-button">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </div>
        </div>
    </div>

    <div class="btn-group pull-right">
        <div class="btn btn-navbar" ng-click="followed()">
            <div class="nav-button business-page-follow">
                <span class="selected" ng-show="business.following">{{'--.followWidget.stopFollow' | translateText}}<i
                        class="gling-icon gling-icon-bell"></i></span>
                <span ng-hide="business.following">{{'--.followWidget.follow' | translateText}}<i
                        class="gling-icon gling-icon-bell2"></i></span>
            </div>
        </div>
    </div>

</div>

<!-- body -->
<div class='app-body'>
    <div class='app-content'>

        <div class="body-mask"
             ng-show="displayMask"></div>

        <div class="scrollable">
            <div class="scrollable-content business-mobile-page scrollable-content-body">

                <div class="scrollable-content-inner">

                    <div class="business-page-header"
                         ng-style="{'background-image':'url('+(business.landscape | image)+')' }">

                        <!-- landscape -->
                        <div class="edit-button-container landscape-edit">
                            <button class="btn gling-button-dark btn-xs glyphicon glyphicon-edit"
                                    ng-show="edit"
                                    ng-click="editLandscape()">
                                {{'--.business.page.edit.landscape' | translateText}}
                            </button>
                        </div>

                        <!-- illustration -->
                        <table ng-click="refreshPublications()">
                            <tr>
                                <td>
                                    <div class="business-page-illustration-container">
                                        <img class="business-illustration" ng-src="{{business.illustration | image}}"/>

                                        <div class="edit-button-container">
                                            <button class="btn gling-button-dark btn-xs glyphicon glyphicon-edit btn-sm"
                                                    ng-show="edit"
                                                    ng-click="editIllustration()">
                                                {{'--.business.page.edit.illustration' | translateText}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <!-- name -->
                                    <div class="business-page-name">
                                        {{business.name}}
                                        <div class="edit-button-container">
                                            <button class="btn gling-button-dark btn-xs glyphicon glyphicon-edit"
                                                    ng-show="edit && business.businessStatus === 'NOT_PUBLISHED'"
                                                    ng-click="editbusiness()">
                                                {{'--.business.page.edit.business' | translateText}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <category-line-ctrl ng-info="categoryLineParams"></category-line-ctrl>

                    <!-- option -->
                    <div style="overflow: auto">
                        <div class="business-tab-set">
                            <div class="business-tab"
                                 style="display:inline-block"
                                 ng-class="{'selected':interfaceToDisplay === action.name}"
                                 ng-repeat="action in actions"
                                 ng-show="action.display()"
                                 ng-click="action.action()">
                                <i class="gling-icon {{action.icon}}"></i>
                                {{action.translatableName | translateText}}
                            </div>
                        </div>
                    </div>

                    <!-- home-->
                    <div ng-show="interfaceToDisplay=='home'">

                        <publication-list-mobile-for-business-ctrl
                                ng-info="publicationListParam">
                        </publication-list-mobile-for-business-ctrl>

                    </div>

                    <!-- info-->
                    <div class="section" ng-show="interfaceToDisplay=='info'">

                        <!-- description -->
                        <table class="business-info-line"
                               ng-show="business.description !=null && business.description.length > 0">
                            <tr>
                                <td colspan="2">
                                    <span ng-bind-html="business.description | text : descriptionLimit"></span>

                                    <span ng-show="business.description.length > descriptionLimitBase && descriptionLimit==descriptionLimitBase"
                                          ng-click="descriptionLimit = 10000"
                                          class="link">{{'--.textReuction.seeMore' | translateText}}</span>
                                    <span ng-show="business.description.length > descriptionLimitBase && descriptionLimit!=descriptionLimitBase"
                                          ng-click="descriptionLimit = descriptionLimitBase"
                                          class="link">{{'--.textReuction.seeLess' | translateText}}</span>

                                </td>
                            </tr>
                        </table>


                        <!-- address + google map -->
                        <table class="business-info-line">
                            <tr>
                                <td colspan="2">
                                    <!-- map -->
                                    <div class="business-info-line-action">
                                        <google-map-widget-ctrl
                                                ng-info="googleMapParams">
                                        </google-map-widget-ctrl>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!-- address / distance -->
                                    <div class="business-address">
                                        {{business.address.street}}<br/>
                                        {{business.address.zip}},{{business.address.city}}
                                    </div>
                                </td>
                                <td class="td-action">
                                    {{business.distance / 1000 | number:2}} Km
                                </td>
                            </tr>
                        </table>

                        <!-- contact -->
                        <!-- phone -->
                        <table class="business-info-line" ng-show="business.phone!=null">
                            <tr>
                                <td>
                                    {{business.phone}}
                                </td>
                                <td class="td-action">
                                    <a class="business-info-line-action glyphicon glyphicon-earphone"
                                       href="tel:{{business.phone}}"></a>
                                </td>
                            </tr>
                        </table>

                        <!-- website -->
                        <table class="business-info-line" ng-show="business.website!=null">
                            <tr>
                                <td>
                                    {{'--.generic.site' | translateText}}
                                </td>
                                <td class="td-action">
                                    <a href="{{business.website}}" target="_blank">{{business.website}}</a>
                                </td>
                            </tr>
                        </table>

                        <!-- email -->
                        <table class="business-info-line" ng-show="business.email!=null">
                            <tr>
                                <td>
                                    {{business.email}}
                                </td>
                                <td class="td-action">
                                    <a class="business-info-line-action glyphicon glyphicon-envelope"
                                       href="mailto:{{business.email}}"></a>
                                </td>
                            </tr>
                        </table>

                        <!-- social network-->
                        <table class="business-info-line" ng-show="displaySocialNetwork() === true">
                            <tr>
                                <td>
                                    <div ng-show="!!business.socialNetwork.facebookLink"
                                         class="business-social-network-box">
                                        <a id="welcome-link-facebook"
                                           href="{{business.socialNetwork.facebookLink}}"
                                           title="Facebook"
                                           target="_blank">
                                            <img src="/assets/images/social_network/facebook.png">
                                        </a>
                                    </div>

                                    <div ng-show="!!business.socialNetwork.twitterLink"
                                         class="business-social-network-box">
                                        <a id="welcome-link-twitter"
                                           href="{{business.socialNetwork.twitterLink}}"
                                           title="Twitter"
                                           target="_blank">
                                            <img src="/assets/images/social_network/twitter.png">
                                        </a>
                                    </div>

                                    <div ng-show="!!business.socialNetwork.instagramLink"
                                         class="business-social-network-box">
                                        <a id="welcome-link-instagram"
                                           href="{{business.socialNetwork.instagramLink}}"
                                           title="Instagram"
                                           target="_blank">
                                            <img src="/assets/images/social_network/instagram.png">
                                        </a>
                                    </div>

                                    <div ng-show="!!business.socialNetwork.deliveryLink"
                                         class="business-social-network-box">
                                        <a id="welcome-link-delivery"
                                           href="{{business.socialNetwork.deliveryLink}}"
                                           title="{{'--.business.socialNetwork.delivery' | translateText}}"
                                           target="_blank">
                                            <img src="/assets/images/social_network/delivery.png">
                                        </a>
                                    </div>

                                    <div ng-show="!!business.socialNetwork.reservationLink"
                                         class="business-social-network-box">
                                        <a href="{{business.socialNetwork.reservationLink}}"
                                           title="{{'--.business.socialNetwork.reservation' | translateText}}"
                                           target="_blank">
                                            <img src="/assets/images/social_network/reservation.png">
                                        </a>
                                    </div>

                                    <div ng-show="!!business.socialNetwork.opinionLink"
                                         class="business-social-network-box">
                                        <a href="{{business.socialNetwork.opinionLink}}"
                                           title="{{'--.business.socialNetwork.opinion' | translateText}}"
                                           target="_blank">
                                            <img src="/assets/images/social_network/opinion.png">
                                        </a>
                                    </div>

                                    <div ng-show="!!business.socialNetwork.ecommerceLink"
                                         class="business-social-network-box">
                                        <a href="{{business.socialNetwork.ecommerceLink}}"
                                           title="{{'--.business.socialNetwork.ecommerce' | translateText}}"
                                           target="_blank">
                                            <img src="/assets/images/social_network/e_commerce.png">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>


                        <!-- schedule -->
                        <table class="business-info-line" ng-show="displaySchedule() === true">
                            <tr>
                                <td>
                                    <schedule-ctrl ng-info="{dto:business.schedules}"></schedule-ctrl>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <!-- gallery-->
                    <div class="section gallery-mobile" ng-show="interfaceToDisplay=='gallery'">
                        <h4>{{'--.generic.gallery' | translateText}}</h4>
                        <img ng-repeat="image in business.galleryPictures"
                             style="margin-top: 5px"
                             ng-click="openGallery(image)"
                             ng-src="{{image | image}}"/>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>