<mobile-title-ctrl display-menu="false" title="'--.promotion.modal.title.create'"></mobile-title-ctrl>

<!-- body -->
<div class='app-body'>
    <div class='app-content'>

        <div class="body-mask"
             ng-show="displayMask"></div>

        <div class="scrollable">
            <div class="section  scrollable-content scrollable-content-body">

                <div class="scrollable-content-inner">

                    <business-notification-form-ctrl ng-info="businessNotificationFormParam"></business-notification-form-ctrl>


                    <button id="promotion-modal-btn-save"
                            type="button"
                            class="btn gling-button-dark"
                            ng-click="save(false)">
                        {{'--.generic.save' | translateText}}
                    </button>

                    <!--<button id="promotion-modal-btn-save-and-share"-->
                            <!--type="button"-->
                            <!--class="btn gling-button-dark"-->
                            <!--ng-click="save(true)">-->
                        <!--{{'--.publication.modal.publicAndShare' | translateText}}-->
                    <!--</button>-->


                </div>

            </div>
        </div>
    </div>
</div>