<header-search-ctrl></header-search-ctrl>

<!-- body -->
<div class='app-body'>
    <div class='app-content'>

        <div class="body-mask"
             ng-show="displayMask"></div>

        <div class="scrollable">
            <div class="scrollable-content scrollable-content-body">

                <div class="scrollable-content-inner">

                    <!-- interest -->

                    <div style="overflow: auto">
                        <div class="home-interest-box"
                             ng-style="{width:(customerInterests.length * 46 + 4) + 'px'}">



                            <button class="gling-button home-interest gling-icon"
                                    ng-repeat="interest in customerInterests"
                                    ng-click="searchByInterest(interest)"
                                    ng-class="{'selected':interest.selected === true}">

                                <img ng-src="assets/images/icon/withe/{{interest.name}}.png"/>
                            </button>
                        </div>
                    </div>

                    <!--<div style="overflow: auto">-->
                    <!--<div class="business-page-menu"-->
                    <!--ng-style="{width:(customerInterests.length * 34 + 4) + 'px'}">-->
                    <!--<button class="gling-button {{action.icon}}"-->
                    <!--ng-class="{'selected':interfaceToDisplay === action.name}"-->
                    <!--ng-repeat="action in actions"-->
                    <!--ng-show="action.display()"-->
                    <!--ng-click="action.action()">-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->


                    <publication-list-mobile-ctrl ng-info="publicationListCtrl"></publication-list-mobile-ctrl>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- footer -->
<div class="navbar navbar-app navbar-absolute-bottom">

    <div class="btn-group navbar-brand-center">
        <div class="home-footer">

            <!-- switch -->
            <div class="home-interest-switch home-interest-box-background">
                <div>
                    <button class="gling-button gling-icon gling-icon-location button-with-label home-interest"
                            ng-class="{'selected':followedMode !== true}"
                            ng-click="setFollowedMode(false)">
                        <p>{{'--.home.localisation.help' | translateText}}</p>
                    </button>
                </div>
                <div>
                    <div class="onoffswitch" ng-click="setFollowedMode()">
                        <label class="onoffswitch-label"
                               ng-class="{'followedMode':followedMode}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div>
                    <button class="gling-button gling-icon gling-icon-bell button-with-label home-interest"
                            ng-class="{'selected':followedMode === true}"
                            ng-click="setFollowedMode(true)">
                        <p>{{'--.home.followning.help' | translateText}}</p>
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>