<header-search-ctrl></header-search-ctrl>

<!-- body -->
<div class='app-body'>
    <div class='app-content'>

        <div class="body-mask"
             ng-show="displayMask"></div>

        <div class="scrollable">
            <div class="scrollable-content scrollable-content-body">

                <div class="scrollable-content-inner">

                    <!-- interest -->
                    <div class="home-page-interest-box">
                        <div ng-click="selectInterest()">
                            <span class="gling-button">
                                {{'--.home.mobile.selectInterest' | translateText}}
                            </span>
                            <i ng-show="getSelectedInterest()!=null"
                               class="home-interest gling-icon {{'gling-icon-' + getSelectedInterest().name}} selected">
                            </i>
                        </div>
                    </div>

                    <!-- publication list -->
                    <publication-list-mobile-ctrl ng-info="publicationListCtrl">
                    </publication-list-mobile-ctrl>

                    <!-- empty result help -->
                    <div class="help-div" ng-show="emptyMessage!==null">
                        {{'--.home.emptyResult.'+emptyMessage | translateText}}
                    </div>

                    <!-- business list (in case of empty result -->
                    <business-list-mobile-ctrl
                            ng-info="businessListParam"
                            ng-show="emptyMessage!==null">
                    </business-list-mobile-ctrl>


                </div>
            </div>

        </div>
    </div>
</div>

<!-- footer -->
<div class="navbar navbar-app navbar-absolute-bottom">

    <div class="btn-group navbar-brand-center">
        <div class="home-footer">

            <!-- switch -->
            <div class="home-interest-switch home-interest-box-background">
                <div>
                    <button class="gling-button gling-icon gling-icon-location button-with-label home-interest"
                            ng-class="{'selected':followedMode !== true}"
                            ng-click="setFollowedMode(false)">
                        <p>{{'--.home.localisation.help' | translateText}}</p>
                    </button>
                </div>
                <div>
                    <div class="onoffswitch" ng-click="setFollowedMode()">
                        <label class="onoffswitch-label"
                               ng-class="{'followedMode':followedMode}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div>
                    <button class="gling-button gling-icon gling-icon-bell button-with-label home-interest"
                            ng-class="{'selected':followedMode === true}"
                            ng-click="setFollowedMode(true)">
                        <p>{{'--.home.followning.help' | translateText}}</p>
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>