<!-- header -->
<div class="navbar navbar-app navbar-absolute-top"
     ng-class="{'header-with-advanced-search':advancedSearch}">

    <div class="navbar-brand navbar-brand-center header-option-container">

        <search-bar-ctrl ng-info="{mobile:true}"></search-bar-ctrl>

    </div>

    <div class="btn-group pull-left header-option-container">
        <div class="btn btn-navbar">
            <div ui-toggle="uiSidebarLeft" class="nav-button">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>

<!-- body -->
<div class='app-body'>
    <div class='app-content'>

        <div class="body-mask"
                ng-show="displayMask"></div>

        <div class="scrollable">
            <div class="scrollable-content">

                <!-- interest -->
                <div style="overflow: auto">
                    <div class="home-interest-box"
                         style="width:700px"
                         ng-style="{width:(customerInterests.length * 34 + 20) + 'px'}">
                        <button class="home-interest" ng-repeat="interest in customerInterests"
                                ng-show="interest.iconName!=null"
                                ng-click="searchByInterest(interest)"
                                ng-class="{'selected':interest.selected === true}">

                            <img ng-src="/assets/images/interest/{{interest.iconName}}" style="width:50px"/>
                        </button>
                    </div>
                </div>


                <publication-list-mobile-ctrl ng-info="publicationListCtrl"></publication-list-mobile-ctrl>

            </div>

        </div>
    </div>
</div>

<!-- footer -->
<div class="navbar navbar-app navbar-absolute-bottom">

    <div class="btn-group navbar-brand-center">
        <div class="home-footer">

            <!-- switch -->
            <div>
                <div class="home-footer-position-details"
                     ng-class="{'generic-block':displayPositionDetails  === true}">

                    <div ng-repeat="position in positions"
                         class="link"
                         ng-click="selectPosition(position.key)">
                        {{position.translation | translateText}}
                    </div>

                </div>

                <button ng-click="openPositionDetails()"
                        class="glyphicon glyphicon-home">
                </button>
            </div>
            <div>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
                           checked ng-model="followedMode">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div>
                <div class="home-footer-position-details"
                     ng-class="{'generic-block':displayFavoriteBusiness  === true}">

                    <div ng-repeat="follow in follows"
                         class="link"
                         ng-click="navigateTo('/business/'+follow.businessId)">
                        {{follow.businessName}}
                    </div>

                </div>

                <button ng-click="openFavoriteBusiness()"
                        class="glyphicon glyphicon-heart-empty">
                </button>
            </div>

        </div>
    </div>
</div>