<mobile-title-ctrl display-menu="false" title="'--.promotion.modal.title.create'"></mobile-title-ctrl>

<!-- body -->
<div class='app-body'>
    <div class='app-content'>

        <div class="body-mask"
             ng-show="displayMask"></div>

        <div class="scrollable">
            <div class="scrollable-content scrollable-content-body">

                <div class="scrollable-content-inner">

                    <promotion-form-ctrl ng-info="publicationFormParam"></promotion-form-ctrl>

                </div>

            </div>
        </div>
    </div>
</div>