<div class="navbar navbar-app navbar-absolute-top welcome-header">


    <div class="navbar-brand navbar-brand-center">
        <span class="logo gling-icon-logoapp button-with-label"></span>

        <p>What's up in my shops</p>
    </div>

</div>
<div class='app-body' style="padding-top: 200px;">
    <div class='app-content modal-login'>

        <div class="scrollable">
            <div class="section customer-registration scrollable-content">

                <div>{{'--.mobile.welcome.login.desc' | translateText}}</div>

                <login-form-ctrl ng-info="loginFormParam"></login-form-ctrl>

                <div class="generic-center">
                    <button
                            ng-click="save()"
                            ng-disabled="loading"
                            type="button"
                            class="btn btn-primary">
                        {{'--.mobile.welcome.login.btn' | translateText}}
                    </button>
                </div>

                <div class="link"
                     style="display: inline-block"
                     ng-click="navigateTo('/forgot_password')">
                    {{'--.login.form.button.forgotPassword' | translateText}}
                </div>


                <div class="mobile_welcome_registration_title">
                    {{'--.mobile.welcome.registration.desc' |
                    translateText}}
                </div>

                <div class="generic-center">
                    <button class="btn btn-primary" ng-click="navigateTo('/customer_registration')">
                        {{'--.mobile.welcome.toCustomerRegistration.btn' | translateText}}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>