<div class="publication-list-mobile">


    <!-- loading -->
    <div ng-show="loading===true" class="loading">
        <img src="/assets/images/big_loading.gif"/>
    </div>

    <!-- nothing -->
    <div ng-show="loading!=true && publications.length == 0">
        {{'--.list.nothing' | translateText}}
    </div>

    <!-- content -->
    <div ng-hide="loading===true"
         ng-repeat="business in businesses"
         class="publication-publication"
         ng-click="click()">


        <table class="publication-header"
               ng-click="navigateTo('/business/'+business.id)">
            <tr>
                <td>
                    <img class="illustration"
                         ng-src="{{business.illustration | image}}"/>

                </td>
                <td>
                    <div class="title-box">

                        <div class="title">
                            <i ng-show="business.following === true"
                               class="gling-icon gling-icon gling-icon-bell">
                            </i>
                            {{business.name}}
                        </div>
                        <div class="title-data">
                            {{business.address.street}}, {{business.address.zip}}, {{business.address.city}} -
                            {{business.distance / 1000 | number:2}} km
                        </div>
                    </div>
                </td>
            </tr>
        </table>


        <!--<div class="business-header"-->
             <!--ng-click="navigateTo('/business/'+business.id)">-->

            <!--<img class="illustration"-->
                 <!--ng-src="{{business.illustration | image}}"/>-->


            <!--&lt;!&ndash; business name &ndash;&gt;-->
            <!--<div class="title">-->
                <!--<span>-->
                    <!--{{business.name}}-->
                <!--</span>-->
            <!--</div>-->

            <!--&lt;!&ndash; distance &ndash;&gt;-->
            <!--<div class="distance publication-bubble">-->
                <!--<i class="fa fa-globe"></i> {{business.distance / 1000 | number:2}} km-->
            <!--</div>-->
            <!--&lt;!&ndash; address &ndash;&gt;-->
            <!--<div class="publication-bubble publication-bordered">-->
                <!--<span></span>-->
            <!--</div>-->
        <!--</div>-->


        <div class="business-list-business-data">
            <category-line-ctrl ng-info="{categories:business.categories}"></category-line-ctrl>

            {{business.description}}

        </div>

        <follow-widget-ctrl ng-info="{displayText:true,business:business}"></follow-widget-ctrl>
    </div>

</div>