<div class="business-list-mobile">


    <!-- loading -->
    <div ng-show="loading===true" class="loading">
        <img src="/assets/images/big_loading.gif"/>
    </div>

    <!-- nothing -->
    <div ng-show="loading!=true && publications.length == 0">
        {{'--.list.nothing' | translateText}}
    </div>

    <!-- publication -->
    <div ng-hide="loading===true"
         ng-repeat="business in businesses"
         class="business-ticket"
         ng-click="click()">

        <div class="business-header"
             ng-click="navigateTo('/business/'+business.id)">

            <img class="illustration"
                 ng-src="{{business.illustration | image}}"/>


            <!-- business name -->
            <div class="title">
                <span>
                    <i ng-show="business.following === true"
                       class="gling-icon-bell">
                    </i>
                    {{business.name}}
                </span>
            </div>

            <!-- distance -->
            <div class="distance publication-bubble">
                <i class="fa fa-globe"></i> {{business.distance / 1000 | number:2}} km
            </div>
            <!-- address -->
            <div class="publication-bubble publication-bordered">
                <span>{{business.address.street}}, {{business.address.zip}}, {{business.address.city}}</span>
            </div>
        </div>


        <div class="business-list-business-data">
            <category-line-ctrl ng-info="{categories:business.categories}"></category-line-ctrl>

            {{business.description}}

        </div>

        <follow-widget-ctrl ng-info="{displayText:true,business:business}"></follow-widget-ctrl>
    </div>

</div>