<div class="promotion-big-list">

    <div    ng-repeat="promotion in params"
            class="publication-box publication-promotion"
            ng-click="click()">
        <div ng-show="promotion.type == 'PROMOTION'" class="promotion-reduction">{{promotion.offPercent * 100 | number:0}} % !</div>
        <img class="illustration" ng-src="{{promotion.illustration.link}}"/>
        <div class="publication-box-name">{{promotion.description}}</div>
        <div><i class="fa fa-calendar"></i> {{promotion.endDate | date:medium}}</div>
        <timer ng-show="promotion.interval < (24 * 60 * 60)" style="color: red;font-weight: bold" countdown="promotion.interval" language="en" interval="1000" finish-callback="callbackTimer.finished()">{{hours|zeropad}}:{{minutes|zeropad}}:{{seconds|zeropad}}</timer>
    </div>

</div>