@font-face {
	font-family: 'glingicon';
	src:	url('fonts/glingicon.eot?5cmb9u');
	src:	url('fonts/glingicon.eot?5cmb9u#iefix') format('embedded-opentype'),
		url('fonts/glingicon.ttf?5cmb9u') format('truetype'),
		url('fonts/glingicon.woff?5cmb9u') format('woff'),
		url('fonts/glingicon.svg?5cmb9u#glingicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.gling-icon{
	display: inline-block;
	font: normal normal normal 14px/1 glingicon;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.gling-icon-geolocalisation:before {
	content: "\e62b";
}
.gling-icon-facebook:before {
	content: "\e612";
}
.gling-icon-instagram:before {
	content: "\e900";
}
.gling-icon-twitter:before {
	content: "\e901";
}

